<div class="filters" *ngIf="common">
  <div class="filters_header" [ngClass]="{'open' : openFilter}" (click)="openFilter = !openFilter">
    <span class="title_4"> {{ 'T' | translate : common.staticTexts.filters.moreFilters }} </span>

    <span class="d-lg-none chevron" [ngClass]="{'open' : openFilter}"> <i class="fas fa-chevron-down"></i> </span>
  </div>


  <form *ngIf="form" [formGroup]="form" class="filters_form" [ngClass]="{'open' : openFilter}" (ngSubmit)="submit()">
    <div formGroupName="filter">

      <div class="filter_item">
        <div class="label"> {{ 'T' | translate : common.staticTexts.filters.priceRange }} </div>

        <ng5-slider class="price_slider"
          [(value)]="minPriceValue" [(highValue)]="maxPriceValue" [options]="priceSliderOptions" 
          (userChangeEnd)="priceRangeChange($event)">

          <ng-template #tooltipTemplate let-tooltip="tooltip" let-placement="bottom" let-content="content">
          </ng-template>
        </ng5-slider>
      </div>

      <div class="filter_item">
        <div class="label"> {{ 'T' | translate : common.staticTexts.filters.stars }} </div>
        <div class="star_holder clearfix">
          <star-rating value="{{form.get('filter').get('starValue').value}}" checkedcolor="blue" minvalue="2"
            uncheckedcolor="#ccc" size="20px" readonly="false" (rate)="onRate($event)"></star-rating>
        </div>
      </div>

      <div class="filter_item">
        <div class="label"> {{ 'T' | translate : common.staticTexts.filters.roomTypes }} </div>
        <div class="types_holder">
          <div class="type_item" *ngFor="let type of roomTypes.items" (click)="onTypeSelect(type)"
            [ngClass]="{'active' : type.isActive || (queryParams.type && queryParams.type.includes(type._id)) }">
            {{'T' | translate : type.name}}
          </div>
        </div>
      </div>

    </div>
    <button class="submit_search_btn submit_btn" type=" submit"> 
      {{ 'T' | translate : common.staticTexts.filters.search }}
      <span class="arrow_right_white"></span> </button>

    <button class="submit_search_btn clear_btn submit_btn" type="button" (click)="resetForm()">
      {{ 'T' | translate : common.staticTexts.filters.clear }}
    </button>
  </form>
</div>
