@import '../../../../scss/abstracts/variables';

.filters {
  background-color: $light_gray;
  padding: 35px 45px;
  border-radius: 5px;
  display: block;

  .title_4 {
    margin-bottom: 40px;
  }
}


.price_slider {
  margin-bottom: 90px;
}

.filter_item {
  margin-bottom: 30px;
}

.star_holder {
  margin-top: 30px;
  padding: 10px;
  background-color: #fff;
  display: inline-block;
  padding: 12px 15px;
  border-radius: 5px;
}

.types_holder {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.type_item {
  background-color: #ecedef;
  padding: 12px 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: $proxima;
  font-size: 16px;
  color: $dark_gray;
  transition: $transition;
  cursor: pointer;

  &.active {
    background-color: $blue;
    border-radius: 5px;
    color: #fff;
  }
}

.submit_btn {
  padding: 20px;
  width: 100%;

  &.clear_btn {
    background-color: #ecedef;
    color: #353535;
    cursor: pointer;
    margin-top: 10px;
  }
}


//Media 
@media (max-width: 1199px) {
  .filters {
    padding: 25px 30px;
  }

  .submit_btn {
    font-size: 24px;
  }

  .type_item {
    padding: 10px 16px;
    font-size: 14px;
  }

  .types_holder,
  .star_holder,
  .price_slider {
    margin-top: 20px;
  }
}


@media (max-width: 991px) {
  .filters_header {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: $light_gray;
    position: relative;
    transition: $transition;

    .title_4 {
      margin-bottom: 0;
    }

    .chevron {
      i {
        font-size: 22px;
        color: $blue;
        transform: rotate(90deg);
        transition: $transition;
      }

      &.open {
        i {
          transform: none;
        }
      }
    }

    &.open {
      margin-bottom: 20px;
    }
  }

  .filters {
    overflow: hidden;
    margin-bottom: 30px;
  }

  .filters_form {
    transition: $transition;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transform-origin: top;

    &.open {
      max-height: 500px;
    }
  }

  .filter_item:first-child {
    margin-bottom: 0;
  }

  .submit_btn {
    padding: 15px 20px;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .filters_form {
    overflow: auto;
  }
}

@media (max-width: 575px) {
  .title_4 {
    font-size: 18px;
  }

  .filters {
    padding: 20px;
  }

  .fa-chevron-down {
    font-size: 16px !important;
  }
}
