<div style="overflow-x: hidden">
  <app-promo *ngIf="common" [promo]="common.promo"></app-promo>
  <app-search></app-search>
  <app-rooms *ngIf="common" [common]="common"></app-rooms>
  <app-gallery *ngIf="common" [common]="common"></app-gallery>
  <app-home-contact *ngIf="common" [common]="common"></app-home-contact>
</div>
