@import '../../../../../scss/abstracts/variables';

.album_item {
  width: calc(33% - 20px);
  border-radius: 7px;
  overflow: hidden;
  height: 261px;
  float: left;
  margin-right: 35px;
  margin-bottom: 35px;
  position: relative;
  transition: $transition;
  cursor: pointer;

  &:first-child {
    height: 558px;
  }

  &:nth-child(3),
  &:nth-child(5) {
    margin-right: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:hover {
    box-shadow: 0px 10px 21px 0px rgba(24, 28, 30, 0.28);
  }
}

.albums_container {
  margin-top: 40px;
}

.info_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#80000000', GradientType=0);
  /* IE6-9 */
  padding: 20px 30px;
}

.title {
  font-size: 20px;
  color: #fff;
  font-family: $wre-B;
}

.photo_amount {
  font-size: 16px;
  color: #fff;
  font-family: $wre-L;
}

.gallery_wrapper {
  margin-bottom: 180px;
}


// Media
@media (max-width: 1499px) {
  .album_item {
    height: 200px;

    &:first-child {
      height: 435px;
    }
  }
}

@media (max-width: 1199px) {
  .album_item {
    margin-right: 33px;
  }

  .info_container {
    padding: 10px 15px;
  }
}


@media (max-width: 991px) {
  .album_item {
    width: calc(50% - 15px);
    margin-right: 30px;
    margin-bottom: 30px;

    &:first-child {
      height: 430px;
    }

    &:nth-child(2) {
      margin-right: 0;
    }
  }

  .gallery_wrapper {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }

  .photo_amount {
    font-size: 14px;
  }

  .album_item {
    height: 160px;

    &:first-child {
      height: 350px;
    }
  }
}


@media (max-width: 575px) {
  .album_item {
    width: 100%;
    margin-right: 0 !important;
    height: auto !important;
  }

  .gallery_wrapper {
    margin-bottom: 50px;
  }

  .albums_container {
    margin-top: 20px;
  }
}
