<div class="gallery_wrapper" *ngIf="commonData">
  <div class="container">
    <h1 class="title_1">{{ 'T' | translate : commonData.gallery.title}}</h1>

    <div class="gray_text_1" [innerHTML]="'T' | translate : commonData.gallery.description">
    </div>

    <div class="albums_container clearfix" *ngIf="galleryData">
      <div class="album_item" *ngFor=" let album of galleryData.items" routerLink="/gallery/{{album._id}}">
        <img [src]="album.thumbnail.url | resourceUrl" alt="{{album.title.ge}}">

        <div class="info_container">
          <h3 class="title"> {{'T' | translate : album.title}} </h3>
        </div>
      </div>
    </div>
  </div>
</div>
