<div class="default_modal_wrapper">
    <h2> Add Gallery Album </h2>

    <div mat-dialog-content>
        <mat-tab-group style="width: 100%; margin-bottom: 20px">
            <mat-tab label="information">
                <div class="page_body">
                    <app-gallery-form #galleryForm [galleryFormData]="data" [canSubmit]="false">
                    </app-gallery-form>
                </div>
            </mat-tab>
            <mat-tab label="metas">
                <div class="page_body">
                    <app-meta-form #metaForm [meta]="metas" [canSubmit]="false">
                    </app-meta-form>
                </div>
            </mat-tab>

            <mat-tab label="Gallery Photos">
                <div class="page_body">
                    <app-images #galleryPhotoForm [images]="data.images" [canSubmit]="false">
                    </app-images>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            გაუქმება
        </button>
        <button mat-raised-button (click)="onFinish()">
            დადასტურება
        </button>
    </mat-dialog-actions>
</div>