<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="inputs_container" formGroupName="name">
        <div>
            <mat-form-field>
                <input matInput type="text" formControlName="ge" placeholder="Name GE">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="en" placeholder="Name EN">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="ru" placeholder="Name RU">
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="primary" *ngIf="canSubmit"> დადასტურება </button>
</form>