.page_body {
    padding: 20px;
    width: 100%;
}

.page_wrapper {
    width: 100%;
}

.table_arrow {
    height: auto !important;
    font-size: 26px !important;
    margin-right: 20px;
    transition: 0.25s ease-in-out;
    margin-left: -20px;
}

.mat-row {
    .table_arrow {
        transform: rotate(0deg);
        transform-origin: 13px center;
    }

    &.example-expanded-row {
        .table_arrow {
            transform: rotate(90deg);
        }
    }
}

.table_first_col {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: none !important;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #ccc;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}


.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-expanded-row {
    .mat-cell {
        background: #eee;
    }
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}


#container-3 {
    margin-top: 64px !important;
}


.below-static {
    position: fixed;
    top: 0;
    right: 0;
}