<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="description" content="<%=description%>">
    <meta name="keywords" content="<%=keywords%>">
    <base href="/">

    <title id="page-title"><%=title%></title>
    
    <meta property="og:title" content="<%=title%>">
    <meta property="og:description" content="<%=description%>">
    <meta property="og:url" content="<%=ogUrl%>">
    <meta property="og:image" content="<%=ogImage%>">
    <meta property="og:type" content="<%=ogType%>">
    <meta property="fb:app_id" content="<%=ogFbId%>"/>
    <meta name="google" content="notranslate">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/fonts/fontawesome-free-5.9/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>

  <body>
    <app-root></app-root>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1R_EP4Z3x0JO3qFzoWQbKpIc_Oj-NmdE" async defer></script>
  </body>
</html>