<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="gallery_container">
        <div class="image_holder">
            <div class="empty_image" *ngIf="!isPhoto">
                Upload Photo
            </div>
            <div class="the_image" *ngFor="let image of form.get('images').value; let i = index;">
                <img [src]="image.url ? (image.url | resourceUrl) : image.base64" alt="image" alt="image">

                <button mat-mini-fab matTooltip="წაშლა" class="close_btn" (click)="onImageRemoved(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>

        <app-file-upload class="upload_photo_container" [accept]="'image/*'" [base64]="true"
            (fileChange)="onImageSelected($event)">
            <div class="upload_photo_box">
                <button type="button" mat-raised-button color="basic"> Add Photo </button>
            </div>
        </app-file-upload>
    </div>

    <button mat-raised-button color="primary" *ngIf="canSubmit"> დადასტურება </button>
</form>