<div class="rooms_page_wrapper">
  <div class="page_header">
    <app-search-global [page]="'rooms'"></app-search-global>
  </div>

  <div class="container page_body">
    <div class="row">
      <div class="col-lg-4 rooms_holder">
        <app-filters-global></app-filters-global>
      </div>

      <div class="col-lg-8 rooms_holder" *ngIf="roomsData">
        <div class="row">

          <h2 class="text-center result_not_found" *ngIf="common && roomsData.length === 0">
            {{ 'T' | translate : common.staticTexts.filters.resultsNotFound }}
          </h2>

          <div class="col-md-6 room_item" *ngFor="let room of roomsData">
            <a routerLink="/room/{{ room._id }}" [queryParams]="queryParams" class="room_link">
              <div class="image_holder">
                <img [src]=" room.thumbnail.url | resourceUrl" alt="{{'T' | translate : room.name}}">
              </div>
              <div class="room_info clearfix">
                <div>
                  <div class="price">
                    <span> {{ 'T' | translate : common.staticTexts.room.startsFrom_prefix }} </span>
                    $ {{room.defaultPrice}}
                    <span> {{ 'T' | translate : common.staticTexts.room.startsFrom_suffix }} </span>
                  </div>
                  <div class="stars">
                    <i class="fas fa-star" *ngFor="let item of room.starsArray"></i>
                  </div>

                </div>
                <div class="category_holder">
                  <div class="category">{{'T' | translate : room.name}} </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
