@import '../../../scss/abstracts/variables';

.rooms_page_wrapper {
  overflow-x: hidden;

  .result_not_found {
    font-size: 26px;
    color: #194452;
    font-family: "Wremena-Bold", "BPGExcelsiorBlackCaps";
    margin: 20px 15px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
  }
}

.room_item {
  margin-bottom: 30px;
}

.room_link {

  .image_holder {
    height: 230px;
    transition: $transition;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba($blue, 0.5);
      display: block;
      z-index: -1;
      transition: $transition;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 55px;
      height: 55px;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0;
      display: block;
      background: #fff url('/assets/images/arrow_right_blue.png') no-repeat center;
      border-radius: 5px;
      transition: $transition;
    }
  }

  &:hover .image_holder {

    &:before,
    &:after {
      z-index: 2;
      opacity: 1;
    }
  }
}

.room_info {
  background: $light_gray;
  padding: 0 14px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  background-color: $blue;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 21px;
  transform: translateY(-50%);
  z-index: 4;
  position: relative;
  color: #fff;
  font-family: $proxima;
  font-size: 18px;

  span {
    color: $intro_gray;
  }
}

.category_holder {
  flex-grow: 1;
  text-align: right;
}

.category {
  font-family: $wre-B;
  font-size: 20px;
  color: $dark_gray;
}

.stars {
  margin-top: -10px;
  min-width: 110px;

  i {
    font-size: 14px;
  }
}


//Media
@media (min-width: 1499px) {
  .image_holder {
    height: 262px !important;
  }
}

@media (max-width: 1499px) {
  .image_holder {
    height: 194px !important;
  }
}

@media (max-width: 1199px) {
  .room_link .image_holder {
    height: 185px !important;
  }

  .price {
    display: flex;
    padding: 12px 20px;

    span {
      margin-right: 5px;
    }
  }

  .room_info {
    flex-direction: column;
    align-items: flex-start;
  }

  .category {
    font-size: 18px;
    margin-top: 10px;
  }
}


@media (max-width: 991px) {
  .rooms_holder {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .room_link .image_holder {
    &:before {
      height: 99%;
    }

    height: auto !important;
  }
}


@media (max-width: 575px) {
  .category {
    font-size: 16px;
  }

  .image_holder {
    &:after {
      width: 40px !important;
      height: 40px !important;
    }
  }

  .price {
    transform: translateY(-74%);
  }

  .title_4 {
    font-size: 18px;
  }
}
