.promo_wrapper {
  height: calc(100vh - 100px);
  overflow: hidden;
  background-size: cover;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &:after {
    content: '';
    background: url('/assets/images/promo_snow_efx.png') no-repeat center;
    position: absolute;
    left: 0;
    bottom: 6%;
    width: 100%;
    height: 30%;
    background-position: 59% 11%;
    background-size: 113% 151%;
  }
}


// Media
@media (max-width: 1599px) {
  .promo_wrapper {
    height: calc(100vh - 75px);

    &:after {
      height: 20%;
    }
  }
}

@media (max-width: 1199px) {
  .promo_wrapper {
    height: calc(100vh - 180px);

    &:after {
      display: none;
    }
  }

}

@media (max-width: 991px) {
  .promo_wrapper {
    background: none !important;
    height: auto;
  }
}
