@import '../../../scss/abstracts/variables';

.news_page_wrapper {
  overflow-x: hidden;
}

.image_holder {
  overflow: hidden;
  position: relative;
  height: 402px; // for 16:9 ratio of image
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .badge {
    position: absolute;
    display: inline-block;
    padding: 9px 24px;
    background-color: #fff;
    border-radius: 14px;
    top: 10px;
    left: 14px;
    color: $blue;
    font-family: $proxima;
    font-size: 18px;
    z-index: 2;
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba($blue, 0.5);
    display: block;
    z-index: -1;
    transition: $transition;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 55px;
    height: 55px;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    display: block;
    background: #fff url('/assets/images/arrow_right_blue.png') no-repeat center;
    border-radius: 5px;
    transition: $transition;
  }
}

.article_item {
  margin-bottom: 30px;

  &:hover {
    cursor: pointer;

    .image_holder {

      &:before,
      &:after {
        z-index: 2;
        opacity: 1;
      }
    }
  }
}

.article_title {
  transform: translateY(-125%);
  margin-left: 15px;
  display: block;
  margin-bottom: -10px;
  position: relative;
  font-size: 30px;
  z-index: 2;
}

.description {
  background: $light_gray;
  font-size: 19px;
  color: $middle_gray;
  padding: 35px 15px;
  font-family: $proxima;
  line-height: 1.2;
  border-radius: 5px;
  min-height: 150px;
}


// Media
@media (max-width: 1499px) {
  .image_holder {
    height: 292px;
  }
}

@media (max-width: 1199px) {
  .image_holder {
    height: 242px;

    .badge {
      font-size: 16px;
    }
  }

  .article_title {
    font-size: 26px;
  }

  .description {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .image_holder {
    height: 365px;
  }

  .article_item {
    padding: 0;
  }

  .description {
    min-height: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .image_holder {
    height: auto;
  }

  .article_title {
    transform: none;
    margin: 10px 0;
    color: $dark_gray;
    font-size: 22px;
  }

  .description {
    font-size: 16px;
  }
}


@media (max-width: 575px) {
  .article_title {
    font-size: 20px;
  }

  .image_holder {
    &:after {
      width: 40px;
      height: 40px;
    }

    .badge {
      padding: 8px 18px;
      font-size: 14px !important;
    }
  }

  .description {
    padding: 15px;
    margin-bottom: 30px;
  }
}


@media (max-width: 400px) {
  .image_holder {
    &:before {
      height: 99%;
    }
  }
}
