<div class="news_page_wrapper">
  <div class="page_header">
    <app-search-global [page]="'news'"></app-search-global>
  </div>

  <div class="container page_body" *ngIf="articlesData">
    <div class="row">
      <div class="col-lg-6 article_item" *ngFor="let article of articlesData.items">
        <a routerLink="/article/{{ article._id }}">
          <div class="image_holder">
            <img [src]="article.thumbnail.url | resourceUrl" alt="{{ 'T' | translate : article.title }}">
          </div>
          <div class="title_3 article_title"> {{ 'T' | translate : article.title }} </div>
          <div class="description" [innerHTML]="'T' | translate : article.description"></div>
        </a>
      </div>
    </div>
  </div>
</div>
