<div class="contact_wrapper" *ngIf="common">

  <div class="container" *ngIf="commonData">
    <h1 class="title_1">
      {{'T' | translate : commonData.contact.title}}
    </h1>

    <div class="gray_text_1 subtitle" [innerHTML]="'T' | translate : commonData.contact.description">
    </div>
  </div>

  <div class="info_container">
    <div class="container clearfix">
      <div class="contact_info" *ngIf="contactData">
        <div class="contact_item">
          <div class="title_2"> {{ 'T' | translate : common.staticTexts.global.mail }} </div>
          <div class="text"> <i class="fas fa-envelope"></i> {{ contactData.contact.email }} </div>
        </div>
        <div class="contact_item">
          <div class="title_2"> {{ 'T' | translate : common.staticTexts.global.phone }} </div>
          <div class="text"><i class="fas fa-phone-alt"></i> {{ contactData.contact.phone }} </div>
        </div>
        <div class="contact_item">
          <div class="title_2"> {{ 'T' | translate : common.staticTexts.global.social }} </div>
          <div class="social_icons">
            <a *ngFor="let item of common.contact.socialLinks" href="{{ item.url }}" target="_blank"> 
              <i class="{{ item.icon }}"></i> 
            </a>
          </div>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()" class="form_container">
        <div class="first_half">
          <div class="input_container">
            <div class="label"> {{ 'T' | translate : common.staticTexts.global.name }} </div>
            <input class="input"
              [ngClass]="{'invalid_input' : !form.get('name').valid && (form.get('name').touched || submitted) }"
              type="text" formControlName="name" placeholder="{{ 'T' | translate : common.staticTexts.global.name }}">
          </div>
          <div class="input_container">
            <div class="label"> {{ 'T' | translate : common.staticTexts.global.mail }} </div>
            <input class="input"
              [ngClass]="{'invalid_input' : !form.get('email').valid && (form.get('email').touched || submitted) }"
              type="email" formControlName="email" placeholder="{{  'T' | translate : common.staticTexts.global.mail  }}">
          </div>
          <div class="input_container">
            <div class="label"> {{  'T' | translate : common.staticTexts.global.message }} </div>
            <textarea class="input"
              [ngClass]="{'invalid_input' : !form.get('message').valid && (form.get('message').touched || submitted) }"
              formControlName="message" placeholder=" {{  'T' | translate : common.staticTexts.global.message }}"> </textarea>
          </div>
        </div>

        <div class="second_half">
          <button class="submit_search_btn" type="submit" [ngClass]="{invalid : !form.valid}">
            {{  'T' | translate : common.staticTexts.global.send }} <span class="arrow_right_white"> </span> </button>
        </div>
      </form>
    </div>
  </div>

</div>
