@import '../../../../../scss/abstracts/variables';

.contact_wrapper {
  margin-bottom: 150px;
}

.subtitle {
  margin-bottom: 35px;
}

.contact_info {
  width: 30%;
  float: left;
  padding: 70px 0;
  background-color: $light-gray;
}

.info_container {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8f8f9+49,1e5799+49,ffffff+50 */
  background: rgb(248, 248, 249);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(248, 248, 249, 1) 49%, rgba(30, 87, 153, 1) 49%, rgba(255, 255, 255, 1) 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(248, 248, 249, 1) 49%, rgba(30, 87, 153, 1) 49%, rgba(255, 255, 255, 1) 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(248, 248, 249, 1) 49%, rgba(30, 87, 153, 1) 49%, rgba(255, 255, 255, 1) 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f9', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */

}

.form_container {
  width: calc(100% - 30%);
  float: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;


  .first_half {
    padding: 70px 0;
    background-color: $light-gray;
    padding-right: 60px;
    width: 60%;
  }

  .second_half {
    width: 40%;
    display: inline-block;
  }


  .submit_search_btn {
    display: table;
    margin: auto;
  }
}

.text {
  font-family: $proxima;
  font-size: 16px;
  color: $middle-gray;

  i {
    color: $dark_gray;
    font-size: 16px;
    margin-right: 7px;
  }
}

.contact_item,
.input_container {
  margin-bottom: 65px;

  &:last-child {
    margin-bottom: 0;
  }
}


// Media
@media (max-width: 991px) {
  .form_container {
    width: 50%;

    .first_half {
      padding: 50px 0 30px;
      width: 100%;
    }

    .second_half {
      width: auto;
    }
  }

  .info_container {
    background: #f8f8f9;
  }

  .contact_info {
    padding: 50px 0;
    width: 50%;
  }

  .submit_search_btn {
    position: relative;
    padding: 15px 40px;
    margin-top: 20px;
    height: auto;
    font-size: 18px;
    margin-bottom: 20px !important;
  }

  textarea.input {
    width: auto;
  }

  .contact_wrapper {
    margin-bottom: 100px;
  }
}


@media (max-width: 768px) {

  .contact_item,
  .input_container {
    margin-bottom: 30px;
  }

  .contact_info {
    padding: 50px 15px 50px 0;
  }

  .text {
    font-size: 14px;
  }
}


@media (max-width: 575px) {
  .contact_info {
    width: 100%;
    padding: 20px 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .social_icons i {
      margin: 0 10px;
    }
  }

  .form_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first_half {
    padding: 30px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .input {
    max-width: 100%;
    width: 100%;
  }

  .contact_wrapper {
    margin-bottom: 0;
  }
}
