<div class="default_modal_wrapper">
    <h2>Add Wellness</h2>
    <div mat-dialog-content>
        <div class="page_body">
            <app-wellness-form [wellnessFormData]="data" #form [canSubmit]="false">
            </app-wellness-form>
        </div>
    </div>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close> გაუქმება </button>
        <button mat-raised-button (click)="onFinish()"> დადასტურება </button>
    </mat-dialog-actions>
</div>