@import '../../../../../scss/abstracts/variables';

.search_wrapper {
  position: relative;
  margin-bottom: 190px;
}

.title {
  font-size: 23px;
  color: $blue;
  font-family: $wre-B;
  margin-right: 45px;
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 15px;
    background: url('/assets/images/arrow_right.png') no-repeat center / 100%;
    right: -45px;
    top: 5px;
  }
}

@keyframes arrow_animation {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(10px);
  }

  30% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

.desktop_title {
  &:after {
    animation: arrow_animation 2.5s infinite ease-in-out;
  }
}

.form_wrapper {
  position: absolute;
  right: -100%;
  top: -100px;
  height: 200px;
  background-color: $light_gray;
  padding-left: 30px;
  display: flex;
  align-items: center;
  z-index: 8;
  transition: 1.6s all ease-in-out;

  &:before {
    content: '';
    background-color: $light_gray;
    height: 100%;
    width: 40%;
    min-width: 200px;
    left: -100px;
    position: absolute;
    top: 0;
    transform: skew(35deg);
    z-index: -1;
  }

  &.inView {
    right: 0;
  }
}

.arrow_down {
  position: absolute;
  right: 0px;
  top: 12px;
}

.input_holder {
  display: inline-block;
  margin-right: 40px;
}

.number_input {
  margin-top: 19px;
}

.search_form {
  display: flex;
  align-items: flex-end;
  margin-right: 200px;
}

.submit_search_btn {
  padding: 10px 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}


// Media
@media (max-width: 1599px) {
  .form_wrapper {
    height: 150px;
    top: -75px;

    &:before {
      left: -55px;
      width: 28%;
    }
  }

  .submit_search_btn {
    padding: 10px 30px;
    font-size: 22px;
  }

  .search_form {
    margin-right: 130px;
  }

  .number_input {
    font-size: 22px;
  }
}


@media (max-width: 1399px) {
  .title {
    font-size: 20px;
  }
}


@media (max-width: 1199px) {
  .form_wrapper {
    transform: none;
    position: static;
    height: 180px;

    &:before {
      display: none;
    }
  }

  .title {
    position: absolute;
    top: 15px;

    &:after {
      display: none;
    }
  }


}


@media (max-width: 991px) {
  .search_form {
    margin-right: 0;
    flex-wrap: wrap;
  }

  .search_wrapper {
    margin-bottom: 80px;
  }

  .form_wrapper {
    height: auto;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    position: static;
    margin-bottom: 30px;
  }

  .submit_search_btn {
    position: relative;
    padding: 15px 40px;
    margin-top: 20px;
    height: auto;
    font-size: 18px;
  }
}


@media (max-width: 768px) {
  .title {
    margin-left: auto;
    margin-right: auto;
  }

  .form_wrapper {
    align-items: center;
  }

  .search_form {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .input_holder {
    margin: 0 15px 30px;
  }

  .submit_search_btn {
    margin: 0 0 20px;
  }

  .number_input {
    margin-top: 10px;
  }

  .label {
    margin-bottom: -10px;
    padding-bottom: 5px;
  }

  .datapickers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
