<div class="search_wrapper clearfix" *ngIf="common">
  <div class="container">
    <div class="title desktop_title d-none d-xl-inline-block" [@fadeInLeft] [@.disabled]="isDisabled">
      {{ 'T' | translate : common.staticTexts.global.startBooking }}
    </div>
  </div>
  <div class="form_wrapper" [ngClass]="{'inView' : inView}">

    <div class="title d-xl-none">
      {{ 'T' | translate : common.staticTexts.global.startBooking }}
    </div>
    <form class="search_form" [formGroup]="form" (ngSubmit)="submit()">

      <div class="datapickers">
        <div class="input_holder" [ngClass]="{'invalid_input' : dateError}">
          <div class="label" [@fadeInDown]="{ value: fadeInDown, params: { delay: 2.6 } }" [@.disabled]="isDisabled">
            {{ 'T' | translate : common.staticTexts.global.startDate }} 
          </div>
          <mat-form-field [@fadeInDown]="{ value: fadeInDown, params: { delay: 1.6 } }" [@.disabled]="isDisabled"
            [ngClass]="{'invalid_input' : !form.get('startDate').valid && form.get('startDate').touched}">
            <input matInput [min]="minStartDate" [matDatepicker]="dp" placeholder="" formControlName="startDate" (focus)="dp.open()" (click)="dp.open()">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle> <i class="arrow_down"> </i>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="input_holder" [ngClass]="{'invalid_input' : dateError}">
          <div class="label" [@fadeInDown]="{ value: fadeInDown, params: { delay: 2.8 } }" [@.disabled]="isDisabled">
            {{ 'T' | translate : common.staticTexts.global.endDate }}
          </div>
          <mat-form-field [@fadeInDown]="{ value: fadeInDown, params: { delay: 1.8 } }" [@.disabled]="isDisabled"
            [ngClass]="{'invalid_input' : !form.get('endDate').valid && form.get('endDate').touched}">
            <input matInput [min]="minEndDate" [matDatepicker]="dp2" placeholder=" " formControlName="endDate" (focus)="dp2.open()" (click)="dp2.open()">
            <mat-datepicker-toggle matSuffix [for]="dp2"> </mat-datepicker-toggle> <i class="arrow_down"> </i>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="numbers">
        <div class="input_holder">
          <div class="label" [@fadeInDown]="{ value: fadeInDown, params: { delay: 3 } }" [@.disabled]="isDisabled">
            {{ 'T' | translate : common.staticTexts.global.adults }}
          </div>
          <input class="number_input" [@fadeInDown]="{ value: fadeInDown, params: { delay: 2 } }"
            [@.disabled]="isDisabled"
            [ngClass]="{'invalid_input' : !form.get('adults').valid && form.get('adults').touched}" type="number"
            formControlName="adults">
        </div>

        <div class="input_holder">
          <div class="label" [@fadeInDown]="{ value: fadeInDown, params: { delay: 3.2 } }" [@.disabled]="isDisabled">
            {{ 'T' | translate : common.staticTexts.global.children }}
          </div>
          <input class="number_input" type="number" [@fadeInDown]="{ value: fadeInDown, params: { delay: 2.2 } }"
            [@.disabled]="isDisabled"
            [ngClass]="{'invalid_input' : !form.get('children').valid && form.get('children').touched}"
            formControlName="children">
        </div>

        <div class="input_holder">
          <div class="label" [@fadeInDown]="{ value: fadeInDown, params: { delay: 3.4 } }" [@.disabled]="isDisabled">
            {{ 'T' | translate : common.staticTexts.global.infants }}
          </div>
          <input class="number_input" type="number" [@fadeInDown]="{ value: fadeInDown, params: { delay: 2.4 } }"
            [@.disabled]="isDisabled"
            [ngClass]="{'invalid_input' : !form.get('infants').valid && form.get('infants').touched}"
            formControlName="infants">
        </div>
      </div>

      <button class="submit_search_btn" type="submit" [disabled]="!form.valid" [ngClass]="{invalid : !form.valid}">
        {{ 'T' | translate : common.staticTexts.global.search }}
      <span class="arrow_right_white"> </span>
      </button>
    </form>

  </div>
</div>
