@import '../../../../../scss/abstracts/variables';

.rooms_wrapper {
  padding-bottom: 220px;
  margin-bottom: 50px;
  padding-top: 85px;
  background: url('/assets/images/rooms_bg.png') no-repeat -14% 0 / 40% 100%;
  position: relative;
}

.rooms_intro {
  max-width: 48%;
  position: relative;
  z-index: 6;
}

.intro {
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 40px;
}

.browse_all_btn {
  &:hover {
    .invert {
      filter: invert(0%) !important;
    }
  }
}

.container {
  z-index: 5;
}

.rooms_carousel {
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 60%;


  &:before {
    content: '';
    width: 26%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: -30px;
    top: 0;
    z-index: 3;
  }
}

.owl-test {
  width: 500px;
  // height: 200px;
}

.slider_nav {
  position: absolute;
  left: 26%;
  top: 25px;
  z-index: 4;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #ccc;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
  }
}


// Media
@media (max-width: 1599px) {
  .rooms_carousel {
    &:before {
      width: 21%;
    }
  }
}

@media (max-width: 1399px) {
  .rooms_carousel {
    &:before {
      width: 23%;
    }
  }

  .rooms_intro {
    max-width: 42%;
  }

  .owl-test {
    width: 450px;
  }
}


@media (max-width: 1299px) {
  .rooms_wrapper {
    padding-bottom: 150px;
  }

  .rooms_carousel {
    &:before {
      width: 20%;
    }
  }
}

@media (max-width: 1199px) {
  .intro {
    margin-top: 0;
  }

  .rooms_intro {
    max-width: 36%;
  }

  .rooms_wrapper {
    padding-top: 60px;
  }

  .rooms_carousel {
    max-width: 65% !important;

    &:before {
      width: 17%;
    }
  }
}

@media (max-width: 991px) {
  .rooms_intro {
    max-width: 100%;
  }

  .rooms_carousel {
    position: relative;
    max-width: 100% !important;

    &:before {
      display: none;
    }
  }

  .rooms_intro {
    margin-bottom: 50px;
  }

  .intro {
    margin-bottom: 20px;
  }

  .rooms_wrapper {
    background-size: 50% auto;
    padding-bottom: 80px;
  }

  .slider_nav {
    left: 50%;
    transform: translateX(-55%);
  }
}


@media (max-width: 768px) {
  .owl-test {
    width: 350px;
  }

  .slider_nav {
    top: 15px;
  }
}

@media (max-width: 499px) {
  .owl-test {
    width: 250px;
  }

  .rooms_wrapper {
    padding-bottom: 20px;
  }

  .slider_nav {
    width: 160px;
  }

  .slider_nav {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
