<div class="rooms_wrapper">
  <div class="container" *ngIf="commonData">
    <div class="rooms_intro">
      <h1 class="title_1"> {{'T' | translate : commonData.rooms.title}} </h1>

      <div class="gray_text_1 intro" [innerHTML]="'T' | translate : commonData.rooms.description"></div>

      <div>
        <button class="secondary_btn browse_all_btn" [routerLink]="'/rooms'"> 
          {{'T' | translate : commonData.rooms.button}} 
          <span class="arrow_right_white invert"> </span>
        </button>
      </div>
      
    </div>
  </div>

  <div class="rooms_carousel" *ngIf="roomsData.items">
    <div class="slider_nav"> </div>

    <owl-carousel id="owl-carousel" [items]="roomsData.items" [options]="{
      items: 1,
      nav: true,
      navigation: true,
      dots: false,
      loop: true,  
      margin: 15,
      autoWidth: true,
      startPosition: 1,
      center: true,
      navContainer: '.slider_nav',
      responsive:{ '0': { items: 1 }, '575' :{margin: 30}, '768':{ items: 1 }, '991' :{ items: 1, startPosition: 0, margin: 50}, '1400' :{margin: 70},  '1600' :{margin: 130} }
    }" [carouselClasses]="['owl-theme', 'sliding']">


      <div class="item" *ngFor="let room of roomsData.items">
        <app-room-item [roomData]="room"></app-room-item>
      </div>

    </owl-carousel>


  </div>
</div>
