<div class="default_modal_wrapper height_auto">
    <h2> Add Room Type </h2>
    <div mat-dialog-content>
        <div class="page_body">
            <app-room-types-form [roomTypesData]="data" #roomTypeForm [canSubmit]="false">
            </app-room-types-form>
        </div>
    </div>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            გაუქმება
        </button>
        <button mat-raised-button (click)="onFinish()">
            დადასტურება
        </button>
    </mat-dialog-actions>
</div>