@import '../../../../scss/abstracts/variables';

.header {
  height: 270px;
  // overflow: hidden;

  // &.opendSearch {
  //   overflow: visible;
  // }
}

.header_in {
  background-color: rgba($blue, 0.9);
  height: 100%;
  position: relative;
}

.title_holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.start_booking {
  font-size: 23px;
  color: #fff;
  font-family: $wre-B;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 15px;
    background: url('/assets/images/arrow_left_gray.png') no-repeat center / 100%;
    left: -50px;
    top: 5px;
    filter: brightness(150%);
    transition: $transition;
  }

  &:hover {
    &:before {
      left: -60px;
    }
  }
}


.search_container {
  position: absolute;
  right: -120%;
  top: 0;
  height: 100%;
  background-color: $light_gray;
  padding-left: 30px;
  display: flex;
  align-items: center;
  z-index: 12;
  width: 80%;
  transition: 0.7s all ease-in-out;

  &:before {
    content: '';
    background-color: $light_gray;
    height: 100%;
    width: 40%;
    min-width: 200px;
    left: -100px;
    position: absolute;
    top: 0;
    transform: skew(35deg);
    z-index: -1;
  }

  &.isOpen {
    right: 0;
  }

  .container {
    margin-left: 0;
  }
}

.close_search {
  position: absolute;
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  height: 60px;
  width: 60px;
  background: $blue url('/assets/images/arrow_right_white.png') no-repeat center;
  cursor: pointer;
  transition: $transition;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    display: inline-block;
    background: #fff url('/assets/images/right_blue_arrow.png') no-repeat center;
    transition: $transition;
  }

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(#000, 0.3);
    background-position: right;

    &:before {
      left: 0;
    }
  }
}

.arrow_down {
  position: absolute;
  right: 0px;
  top: 12px;
}

.input_holder {
  display: inline-block;
  margin-right: 40px;
}

.number_input {
  margin-top: 19px;
}

.search_form {
  display: flex;
  align-items: center;
  margin-right: 0;
  justify-content: space-around;
}

.submit_search_btn {
  padding: 80px 50px;
  position: relative;
  right: 0;
  bottom: 0;
}

.overlay {
  position: fixed;
  top: -500px;
  right: 0;
  width: 100%;
  height: 2000%;
  background: rgba(#000, 0.5);
  z-index: -1;
  opacity: 0;
  transition: 0.25s all ease-in-out;

  &.isVisible {
    opacity: 1;
    z-index: 6;
  }
}

// Media
@media (min-width: 575px) {
  .title_holder {

    h1,
    .start_booking {
      transform: translateY(-30px);
    }
  }
}

@media (min-width: 1499px) {
  .inner_container {
    max-width: 1200px;
  }
}

@media (min-width: 991px) {
  .header {
    overflow-x: hidden;
  }
}

@media (max-width: 1199px) {
  .submit_search_btn {
    font-size: 20px;
    padding: 50px 20px;
  }

  .input_holder {
    margin-right: 20px;
  }

  .search_container {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .search_container {
    width: 100%;
    align-items: flex-end;
    padding-bottom: 20px;

    &:before {
      display: none;
    }

    .container {
      margin-left: auto;
    }
  }

  .close_search {
    left: 5%;
    top: 20px;
    transform: none;
  }

  .search_form {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .submit_search_btn {
    position: relative;
    padding: 15px 40px;
    margin-top: 20px;
    height: auto;
    font-size: 18px;
  }

  .mat-input-element {
    font-size: 22px;
  }
}


@media (max-width: 768px) {
  .search_form {
    flex-direction: column;
  }

  .datapickers {
    margin-bottom: 20px;
  }

  .close_search {
    width: 40px;
    height: 40px;
    left: auto;
    right: 15px;
  }

  .input_holder {
    margin: 0 10px;
  }

  .start_booking {
    font-size: 20px;

    &:before {
      left: -35px;
      top: 0;
    }

    &:hover {
      &:before {
        left: -40px;
      }
    }
  }
}


@media (max-width: 575px) {
  .header {
    height: auto
  }

  .header_in {
    overflow: visible;
    padding: 30px 0;
  }

  .input_holder {
    text-align: center;
  }

  .datapickers {
    display: flex;
    flex-direction: column;

    .input_holder:first-child {
      margin-bottom: 20px;
    }
  }

  .search_container {
    height: 360px;
  }

  .title_holder {
    flex-direction: column;
    align-items: flex-start;

    .title_3 {
      margin-bottom: 10px;
    }

    .start_booking {
      border: 1px solid #fff;
      padding: 10px;
      font-size: 14px;
    }
  }
}
