<div class="header" id="header" *ngIf="common"
  [ngStyle]="{background: 'url(' + (image?.url | resourceUrl) + ') no-repeat center / 101% auto'}">
  <div class="header_in">

    <div class="overlay" (click)="openSearch = !openSearch" [ngClass]="{'isVisible' : openSearch}"> </div>

    <div class="container title_holder">
      <h1 class="title_3"> {{ 'T' | translate : title }} </h1>
      <span class="start_booking" (click)="openSearch = !openSearch">
       {{ 'T' | translate : common.staticTexts.global.startBooking }}
      </span>
    </div>

    <div class="search_container" [ngClass]="{'isOpen' : openSearch}">
      <div class="close_search" (click)="openSearch = !openSearch"> </div>
      <div class="container inner_container">
        <form class="search_form" [formGroup]="form" (ngSubmit)="submit()">
          <div class="datapickers">
            <div class="input_holder" [ngClass]="{'invalid_input' : dateError}">
              <div class="label"> {{ 'T' | translate : common.staticTexts.global.startDate }} </div>
              <mat-form-field
                [ngClass]="{'invalid_input' : !form.get('startDate').valid && form.get('startDate').touched}">
                <input matInput [min]="minStartDate" [matDatepicker]="dp" placeholder="" formControlName="startDate" (focus)="dp.open()" (click)="dp.open()">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle> <i class="arrow_down"> </i>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="input_holder" [ngClass]="{'invalid_input' : dateError}">
              <div class="label"> {{ 'T' | translate : common.staticTexts.global.endDate }} </div>
              <mat-form-field [ngClass]="{'invalid_input' : !form.get('endDate').valid && form.get('endDate').touched}">
                <input matInput [min]="minEndDate" [matDatepicker]="dp2" placeholder=" " formControlName="endDate" (focus)="dp2.open()" (click)="dp2.open()">
                <mat-datepicker-toggle matSuffix [for]="dp2"> </mat-datepicker-toggle> <i class="arrow_down"> </i>
                <mat-datepicker #dp2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="numbers">
            <div class="input_holder">
              <div class="label"> {{ 'T' | translate : common.staticTexts.global.adults }} </div>
              <input class="number_input"
                [ngClass]="{'invalid_input' : !form.get('adults').valid && form.get('adults').touched}" type="number"
                formControlName="adults">
            </div>

            <div class="input_holder">
              <div class="label"> {{ 'T' | translate : common.staticTexts.global.children }} </div>
              <input class="number_input" type="number"
                [ngClass]="{'invalid_input' : !form.get('children').valid && form.get('children').touched}"
                formControlName="children">
            </div>

            <div class="input_holder">
              <div class="label"> {{ 'T' | translate : common.staticTexts.global.infants }} </div>
              <input class="number_input" type="number"
                [ngClass]="{'invalid_input' : !form.get('infants').valid && form.get('infants').touched}"
                formControlName="infants">
            </div>
          </div>

          <button class="submit_search_btn" type="submit" [disabled]="!form.valid" [ngClass]="{invalid : !form.valid}">
            {{ 'T' | translate : common.staticTexts.global.search }}
            <span class="arrow_right_white"> </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
