<div class="default_modal_wrapper">
    <h2> Add Room </h2>
    <div mat-dialog-content>
        <mat-tab-group style="width: 100%; margin-bottom: 20px">
            <mat-tab label="information">
                <div class="page_body">
                    <app-rooms-form #roomForm [roomsFormData]="data" [canSubmit]="false">
                    </app-rooms-form>
                </div>
            </mat-tab>

            <mat-tab label="metas">
                <div class="page_body">
                    <app-meta-form #metaForm [meta]="data.meta" [canSubmit]="false">
                    </app-meta-form>
                </div>
            </mat-tab>

            <mat-tab label="Price Range Dates">
                <div class="page_body">
                    <app-price-range-form #priceRangeForm [priceRangeFormData]="data.priceRangeDates"
                        [canSubmit]="false">
                    </app-price-range-form>
                </div>
            </mat-tab>

            <mat-tab label="Room Photos">
                <div class="page_body">
                    <app-images-form #roomPhotosForm [images]="data.images" [canSubmit]="false">
                    </app-images-form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close> გაუქმება </button>
        <button mat-raised-button (click)="onFinish()"> დადასტურება </button>
    </mat-dialog-actions>
</div>