<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="inputs_container" formGroupName='title'>
        <mat-form-field class="example-full-width">
            <input formControlName="ge" matInput placeholder="Title Ge">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input formControlName="en" matInput placeholder="Title En">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input formControlName="ru" matInput placeholder="Title Ru">
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" *ngIf="canSubmit"> დადასტურება </button>
</form>