<form [formGroup]="form" (ngSubmit)="submit()">
	<div class="inputs_container">
		<app-image-upload [image]="galleryFormData.thumbnail" (uploadComplete)="onUploadComplete($event)">
		</app-image-upload>
	</div>

	<div class="inputs_container" formGroupName='title'>
		<mat-form-field class="example-full-width">
			<input formControlName="ge" matInput placeholder="Title Ge">
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<input formControlName="en" matInput placeholder="Title En">
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<input formControlName="ru" matInput placeholder="Title Ru">
		</mat-form-field>
	</div>

	<div class="inputs_container" formGroupName='description'>
		<mat-form-field class="example-full-width">
			<input formControlName="ge" matInput placeholder="Description Ge">
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<input formControlName="en" matInput placeholder="Description En">
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<input formControlName="ru" matInput placeholder="Description Ru">
		</mat-form-field>
	</div>

	<div class="inputs_container">
		<mat-form-field>
			<input matInput [matDatepicker]="dp" placeholder="Date" formControlName="date">
			<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
			<mat-datepicker #dp></mat-datepicker>
		</mat-form-field>
	</div>
	<button mat-raised-button color="primary" *ngIf="canSubmit"> დადასტურება </button>
</form>