<form [formGroup]="form" (ngSubmit)="submit()" class="room_parameters_form">
    <div class="inputs_container flex_container" formGroupName="name">
        <div class="inputs_container">
            <app-image-upload [image]="roomParametersFormData.icon" (uploadComplete)="onUploadComplete($event)">
            </app-image-upload>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="text" formControlName="ge" placeholder="Name GE">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="en" placeholder="Name EN">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="ru" placeholder="Name RU">
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="primary" *ngIf="canSubmit"> დადასტურება </button>
</form>