.room_parameters_form {

    .icon_wrapper {
        display: inline-block;
        margin-right: 30px;
    }

    .flex_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}