<div class="mat-elevation-z8 gallery_table">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows style="width: 100%">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" class="table_first_col">
                <mat-icon class="table_arrow">arrow_right</mat-icon>
                {{ element?.title?.ge || element?.title?.en || element?.title?.ru }}

            </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon matTooltip="წაშლა" style="cursor: pointer" (click)="confirmDelete($event, element)">delete
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-description width_100">
                        <mat-tab-group *ngIf="expandedElement && element._id === expandedElement._id "
                            style="width: 100%; margin-bottom: 20px">
                            <mat-tab label="Information">
                                <div class="page_body">
                                    <app-gallery-form [galleryFormData]="element"
                                        (submitGalleryForm)="submitGalleryForm($event, element._id)">
                                    </app-gallery-form>
                                </div>
                            </mat-tab>
                            <mat-tab label="Meta">
                                <div class="page_body">
                                    <app-meta-form [meta]="element.meta" (submitMeta)="submitMeta($event, element._id)">
                                    </app-meta-form>
                                </div>
                            </mat-tab>
                            <mat-tab label="Gallery Photos">
                                <div class="page_body">
                                    <app-images [images]="element.images"
                                        (submitGalleryPhotos)="submitGalleryPhotos($event, element._id)">
                                    </app-images>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element" style="cursor: pointer">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"
            style="overflow: hidden; display: table; height: 0">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="query.limit" [length]="pageLength" showFirstLastButtons
        (page)="pageEvent = pagenatorEvent($event)">
    </mat-paginator>

    <!-- <pre>{{pageEvent.pageSize}} </pre> -->
</div>