.filter_wrapper {
    background-color: #039be5;
    padding-bottom: 120px;
    padding-top: 40px;
    margin-bottom: -100px;
}

.input_wrapper {
    margin: 0 20px;
    background: #fff;
    height: 50px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 2px 5px rgba(#000, 0.4);
    transition: .3s all linear;


    &:focus-within {
        box-shadow: 0px 5px 8px rgba(#000, 0.4);
    }

    .mat-icon {
        color: #777;
    }
}

.search_input {
    width: 97%;
    height: 50px;
    font-size: 16px;

}