.fields_container {
    display: flex;
}

.mat-form-field {
    min-width: 250px;
}

.material-form {
    margin-bottom: 30px;
}


.mat-form-field-infix {
    width: auto !important;
}

.inputs_container {
    margin-bottom: 20px;

    .mat-form-field {
        margin-right: 30px;
    }
}


.shared_meta_wrapper {
    .mat-form-field {
        margin-right: 30px;
    }

    .inputs_container {
        margin-bottom: 20px;
    }
}

.empty_image {
    width: 300px;
    height: 190px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 24px;
    margin-bottom: 20px;
}

.the_image {
    width: 300px;
    margin-bottom: 20px;
    height: 190px;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.room_parameters_form {
    .image_holder {
        margin-right: 30px;
    }

    .the_image {
        width: 115px;
        height: 115px;
    }

    .empty_image {
        width: 115px;
        height: 115px;
        border: 1px solid #000;
        font-size: 16px;
        color: #999;
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.wellness_images {
    .left_col {
        .the_image {
            width: 350px;
            height: 350px;
        }
    }

    .right_col {
        .image_upload_wrapper {
            display: flex;
            align-items: center;
        }

        .the_image {
            width: 350px;
            height: 180px;
        }

        .image_holder {
            margin-right: 30px;
        }
    }
}