.gallery_container {
    margin-bottom: 20px;

    .image_holder {
        display: flex;
        flex-wrap: wrap;

        .empty_image,
        .the_image {
            margin-right: 30px;
        }

        .the_image {
            position: relative;
            overflow: visible;
        }

        .close_btn {
            background: linear-gradient(60deg, #ef5350, #e53935);
            box-shadow: 0 12px 20px -10px rgba(244, 67, 54, .28),
                0 4px 20px 0 rgba(0, 0, 0, .12),
                0 7px 8px -5px rgba(244, 67, 54, .2);
            position: absolute;
            top: -10px;
            right: -10px;
            width: 40px;
            height: 40px;
            transition: 0.25s all ease-in-out;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}