.ng-star-inserted {
    width: 100%;
}

.mat-tab-labels {
    display: inline-flex !important;
}


.info_page {

    .mat-tab-body-wrapper,
    .mat-tab-body-content,
    .mat-tab-body.mat-tab-body-active {
        overflow: visible !important;
    }
}

.mat-chip {
    width: auto;
}

.element-row.expanded {
    background-color: #eee;
}


.article_list_table {

    .mat-cell:first-child,
    .mat-header-cell:first-child {
        flex-grow: 10 !important;
    }
}

.rooms_list_table {

    .mat-cell:nth-child(2),
    .mat-cell:first-child,
    .mat-header-cell:nth-child(2),
    .mat-header-cell:first-child {
        flex-grow: 5 !important;
    }
}

.gallery_table {

    .mat-header-cell,
    .mat-cell {
        flex-grow: 1 !important;
    }

    .mat-header-cell:first-child,
    .mat-cell:first-child {
        flex-grow: 10 !important;
    }
}

.mat-form-field-suffix {
    width: auto !important;
}

.mat-calendar-table .ng-star-inserted {
    width: auto !important;
}

.mat-paginator-page-size {
    width: auto !important;
}

.mat-paginator-page-size-select {
    min-width: auto !important;
}

.mat-dialog-container {
    position: relative;

    .mat-dialog-actions {
        position: absolute;
        bottom: 40px;
        left: 25px;
    }
}

.mat-form-field-prefix {
    width: auto;
}


// D&D Css Fix for Mat Table
.cdk-drag {
    display: table;
    background: #fff !important;
    border-bottom: 1px solid #ccc !important;
    width: 104%;
    position: relative;


    .cdk-column-options {
        width: auto !important;
        border: none !important;
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.cdk-drop-list {
    .cdk-column-expandedDetail {
        border: none !important;
    }
}