.default_modal_wrapper {
    height: 700px;
    width: 1000px;

    &.height_auto {
        height: auto !important;
    }
}

.small_modal_wrapper {
    height: auto;
    width: 400px;
    padding-bottom: 40px;
}