<footer>
  <div class="footer_overlay">
    <div class="container footer_container" *ngIf="commonData">
      <div class="logo">
        <a [routerLink]="[' ']">
          <img [src]="logo?.url | resourceUrl" alt="Logo">
        </a>
      </div>

      <div class="footer_menu">
        <a  *ngIf="commonData.staticTexts.header.about.ge" 
            class="menu_link" [routerLink]="['about']" routerLinkActive="is-active"> 
          {{ 'T' | translate : commonData.staticTexts.header.about }}
        </a>
        <a  *ngIf="commonData.staticTexts.header.wellness.ge" 
            class="menu_link" [routerLink]="['spa']" routerLinkActive="is-active">
          {{ 'T' | translate : commonData.staticTexts.header.wellness }}
        </a>
        <a  *ngIf="commonData.staticTexts.header.rooms.ge" 
            class="menu_link" [routerLink]="['rooms']" routerLinkActive="is-active">
          {{ 'T' | translate : commonData.staticTexts.header.rooms }}
        </a>
        <a  *ngIf="commonData.staticTexts.header.news.ge" 
            class="menu_link" [routerLink]="['news']" routerLinkActive="is-active">
          {{ 'T' | translate : commonData.staticTexts.header.news }}
        </a>
        <a  *ngIf="commonData.staticTexts.header.gallery.ge" 
            class="menu_link" [routerLink]="['gallery']" routerLinkActive="is-active">
          {{ 'T' | translate : commonData.staticTexts.header.gallery }}
        </a>
        <a  *ngIf="commonData.staticTexts.header.contact.ge" 
            class="menu_link" [routerLink]="['contact']" routerLinkActive="is-active">
          {{ 'T' | translate : commonData.staticTexts.header.contact }}
        </a>
      </div>
    </div>
  </div>
</footer>
