@import '../../../scss/abstracts/variables';

footer {
  background: url('/assets/images/footer_bg.png') no-repeat center / cover;
  height: 220px;
}

.footer_overlay {
  background-color: rgba($blue, 0.93);
  height: 100%;
  padding: 50px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-right: 10px;
    max-height: 75px;
  }

  a {
    font-size: 28px;
    color: #fff;
    font-family: $wre-B;
    display: flex;
    align-items: center;
  }
}

.footer_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu_link {
  font-size: 20px;
  font-family: $menu_font;
  color: $intro_gray;
  margin: 0 15px;
  transition: $transition;

  &:hover {
    color: $light-gray;
  }

  &.is-active {
    color: $light-gray;
  }
}


@media (max-width: 768px) {
  footer {
    height: auto;
  }

  .footer_overlay {
    padding: 25px 0 15px;
  }

  .footer_menu {
    display: none;
  }
}
