<div class="header_wrapper" id="header" [ngClass]="{'is_home' : isHome(), 'menuOpen' : isActive}">
  <nav class="navbar navbar-expand-lg header">
    <div class="container global_container">
      <div class="header_main_container">
        <a class="logo-wrapper" [@fadeInDown]="{ value: fadeInDown, params: { delay: 0.5 } }" [@.disabled]="isDisabled"
          [routerLink]="[' ']">
          <img *ngIf="commonData" class="logo" [src]="logo?.url | resourceUrl" alt="Logo">
        </a>

        <div class="hamburger d-lg-none">
          <div class="hamburger_box " (click)="isActive = !isActive" [ngClass]="{ 'active' : isActive }">
            <span> </span>
            <span> </span>
            <span> </span>
          </div>
        </div>

        <div class="menu_overlay d-lg-none" (click)="isActive = !isActive" [ngClass]="{ 'open' : isActive }"> </div>

        <div class="navbar-wrapper clearfix" [ngClass]="{ 'open' : isActive }" *ngIf="commonData">
          <div class="navbar-collapse">
            <ul class="navbar-nav my-2 navbar-right-col right_navbar" [ngStyle]="{ color: commonData.promo.headerColor }">
              <li class="nav-item" (click)="isActive = !isActive"
                *ngIf="commonData.staticTexts.header.about.ge"
                [@fadeInDown]="{ value: fadeInDown, params: { delay: 0.6 } }" [@.disabled]="isDisabled">
                <a class="nav-link" [routerLink]="['about']" routerLinkActive="is-active">
                  {{ 'T' | translate : commonData.staticTexts.header.about }}
                </a>
              </li>
              <li class="nav-item" (click)="isActive = !isActive"
                *ngIf="commonData.staticTexts.header.wellness.ge"
                [@fadeInDown]="{ value: fadeInDown, params: { delay: 0.8 } }" [@.disabled]="isDisabled">
                <a class="nav-link"  [routerLink]="['spa']" routerLinkActive="is-active">
                  {{ 'T' | translate : commonData.staticTexts.header.wellness }}
                </a>
              </li>
              <li class="nav-item" (click)="isActive = !isActive"
                *ngIf="commonData.staticTexts.header.rooms.ge"
                [@fadeInDown]="{ value: fadeInDown, params: { delay: 1 } }" [@.disabled]="isDisabled">
                <a class="nav-link" [routerLink]="['rooms']" routerLinkActive="is-active">
                  {{ 'T' | translate : commonData.staticTexts.header.rooms }}
                </a>
              </li>
              <li class="nav-item" (click)="isActive = !isActive"
                *ngIf="commonData.staticTexts.header.news.ge"
                [@fadeInDown]="{ value: fadeInDown, params: { delay: 1.2 } }" [@.disabled]="isDisabled">
                <a class="nav-link" [routerLink]="['news']" routerLinkActive="is-active">
                  {{ 'T' | translate : commonData.staticTexts.header.news }}
                </a>
              </li>
              <li class="nav-item" (click)="isActive = !isActive"
                *ngIf="commonData.staticTexts.header.gallery.ge"
                [@fadeInDown]="{ value: fadeInDown, params: { delay: 1.4 } }" [@.disabled]="isDisabled">
                <a class="nav-link" [routerLink]="['gallery']" routerLinkActive="is-active">
                  {{ 'T' | translate : commonData.staticTexts.header.gallery }}
                </a>
              </li>
              <li class="nav-item" (click)="isActive = !isActive"
                *ngIf="commonData.staticTexts.header.contact.ge"
                [@fadeInDown]="{ value: fadeInDown, params: { delay: 1.6 } }" [@.disabled]="isDisabled">
                <a class="nav-link" [routerLink]="['contact']" routerLinkActive="is-active">
                  {{ 'T' | translate : commonData.staticTexts.header.contact }}
                </a>
              </li>
            </ul>
          </div>


          <div class="social_icons d-lg-none" *ngIf="commonData">
            <a *ngFor="let item of commonData.contact.socialLinks" href="{{ item.url }}" target="_blank"> 
              <i class="{{ item.icon }}"></i> 
            </a>
          </div>


          <div class="container lang_holder" [style.color]="commonData.promo.langColor">
            <div class="lang_container" [@fadeInDown]="{ value: fadeInDown, params: { delay: 1.8 } }"
              [@.disabled]="isDisabled">
              <div class="lang_item" (click)="langService.use('ge')"
                [ngClass]="{'active' : langService.getCurrent() === 'ge' }"> GEO </div>
              <div class="lang_item" (click)="langService.use('en')"
                [ngClass]="{'active' : langService.getCurrent() === 'en' }"> ENG </div>
              <div class="lang_item" (click)="langService.use('ru')"
                [ngClass]="{'active' : langService.getCurrent() === 'ru' }"> RUS </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

</div>
