@import '../../../scss/abstracts/variables';

.header_main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 104px;
}

.header_wrapper {

  &.is_home {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  &.menuOpen {
    overflow: visible;
  }
}

.navbar-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.navbar-nav {
  flex-wrap: wrap;
}

.logo-wrapper {
  font-size: 28px;
  font-family: 'Wremena-Bold';
  color: $blue;
  display: flex;
  align-items: center;

  img {
    margin-right: 14px;
    max-height: 75px;
  }
}

.nav-link {
  color: inherit;
  font-family: $menu_font;
  font-size: 16px;
  padding: 0 !important;
  margin: 0 24px !important;
  transition: $transition;
  position: relative;
  opacity: 0.8;

  &.is-active {
    color: inherit;
    opacity: 1;

    &:before {
      width: 30px;
    }
  }

  &:before {
    content: '';
    width: 0;
    height: 1px;
    background-color: $blue;
    display: inline-block;
    position: absolute;
    bottom: -4px;
    left: -5px;
    transition: $transition;
  }

  &:hover {
    color: $blue;

    &:before {
      width: 30px;
    }
  }
}

.navbar-collapse {
  margin-right: 65px;
}

.lang_holder {
  z-index: 4;
}

.lang_container {
  border: 1px solid;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -4px;

  .lang_item {
    font-size: 14px;
    font-family: $proxima;
    text-transform: uppercase;
    color: inherit;
    height: 0;
    overflow: hidden;
    transition: $transition;
    padding-left: 16px;
    padding-right: 16px;

    &.active {
      color: inherit;
      padding: 12px 16px;
      height: auto;
    }
  }

  &:hover {
    background-color: rgba($light_gray, 0.8);

    .lang_item {
      display: block;
      height: auto;
      padding: 12px 16px;

      &:hover {
        background: $blue;
        color: $light_gray;
      }
    }
  }
}


// Media

@media (max-width: 1200px) {
  .nav-link {
    margin: 0 12px !important;
  }
}

@media (max-width: 991px) {
  .header_wrapper {
    overflow: hidden;
  }

  .global_container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: none;
  }

  .hamburger {
    z-index: 99;

    .hamburger_box {
      cursor: pointer;
      transition: 0.5s all ease-in-out;
      position: relative;
      width: 40px;
      height: 24px;

      >span {
        width: 38px;
        height: 3px;
        background-color: #000;
        display: block;
        border-radius: 3px;
        position: absolute;
      }

      >span:first-child {
        top: 2px;
        -webkit-transition: background-color 0s linear .13s;
        transition: background-color 0s linear .13s;
        position: absolute;
        margin-top: -2px;
      }

      >span:nth-child(2) {
        top: 10px;
        -webkit-transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19), -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
      }

      >span:nth-child(3) {
        top: 20px;
        -webkit-transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19), -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
      }

      &.active {
        >span:first-child {
          transition-delay: .22s;
          background-color: transparent !important;
        }

        >span:nth-child(2) {
          top: 0;
          -webkit-transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
          transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
          transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
          transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, transform .13s cubic-bezier(.215, .61, .355, 1) .22s, -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
          -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
        }

        >span:nth-child(3) {
          top: 0;
          -webkit-transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
          transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
          transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
          transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s cubic-bezier(.215, .61, .355, 1) .22s, -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
          -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
        }
      }
    }
  }

  .menu_overlay {
    background: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 90;
    display: none;

    &.open {
      display: block;
    }
  }



  .lang_container {
    position: static;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    float: right;

    &:hover {
      z-index: 101;

      .lang_item {
        padding: 8px 8px;
      }
    }

    .lang_item {
      height: auto;
      overflow: visible;
      padding: 8px 8px;
      font-size: 12px;

      &.active {
        background: #194452;
        color: #f8f8f9;
        padding: 8px;
      }
    }
  }

  .logo-wrapper {
    margin-right: auto;
  }

  .header_main_container {
    height: 70px;
  }

  .navbar-wrapper {
    position: static;
  }

  .header_wrapper {
    &.is_home {
      position: static;
    }
  }

  .navbar-collapse {
    margin-right: 0;
    flex-basis: auto;
    width: 100%;
    flex-grow: 0;

    .nav-item {
      display: table;
      margin: 8px 0;
    }

    .nav-link {
      margin: 0 15px !important;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

    }
  }

  .navbar-wrapper {
    height: calc(100vh - 70px);
    overflow: auto;
    position: absolute;
    width: 33%;
    top: 70px;
    right: -40%;
    transition: $transition;
    background-color: #fff;
    z-index: 99;
    transform-origin: top;
    padding: 20px 0;
    display: block;

    &.open {
      right: 0;
    }
  }

  .social_icons {
    margin: 10px 0 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    i {
      margin-right: 10px;
    }
  }
}


@media (max-width: 768px) {
  .navbar-wrapper {
    width: 50%;
    right: -70%;
  }
}

@media (max-width: 575px) {
  .global_container {
    padding: 0 15px;
  }

  .logo-wrapper {
    font-size: 0px;
  }

  .navbar-wrapper {
    width: 75%;
    right: -100%;
  }
}
