<div class="small_modal_wrapper">
    <div mat-dialog-content>
        <h2> Delete </h2>
        <p>Are you sure you want to delete "{{ data.title?.ge || data.name?.ge || data.roomType?.ge}}" ?</p>
    </div>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            გაუქმება
        </button>
        <button mat-raised-button [mat-dialog-close]="true">
            დადასტურება
        </button>
    </mat-dialog-actions>
</div>