<div class="meta_page page_wrapper">
    <mat-tab-group style="width: 100%" *ngIf="metas">
        <mat-tab label="Homepage">
            <div class="page_body">
                <app-meta-form [meta]="metas.home" pageTitle="home" (submitMeta)="update($event, 'home')">
                </app-meta-form>
            </div>
        </mat-tab>

        <mat-tab label="About Us">
            <div class="page_body">
                <app-meta-form [meta]="metas.aboutUs" pageTitle="aboutUs" (submitMeta)="update($event, 'aboutUs')">
                </app-meta-form>
            </div>
        </mat-tab>

        <mat-tab label="Wellness">
            <div class="page_body">
                <app-meta-form [meta]="metas.wellness" pageTitle="wellness" (submitMeta)="update($event, 'wellness')">
                </app-meta-form>
            </div>
        </mat-tab>
        <mat-tab label="Gallery">
            <div class="page_body">
                <app-meta-form [meta]="metas.gallery" pageTitle="gallery" (submitMeta)="update($event, 'gallery')">
                </app-meta-form>
            </div>
        </mat-tab>
        <mat-tab label="Hotel Rooms">
            <div class="page_body">
                <app-meta-form [meta]="metas.rooms" pageTitle="rooms" (submitMeta)="update($event, 'rooms')">
                </app-meta-form>
            </div>
        </mat-tab>
        <mat-tab label="Contact">
            <div class="page_body">
                <app-meta-form [meta]="metas.contacts" pageTitle="contacts" (submitMeta)="update($event, 'contacts')">
                </app-meta-form>
            </div>
        </mat-tab>

        <mat-tab label="News">
            <div class="page_body">
                <app-meta-form [meta]="metas.articles" pageTitle="articles" (submitMeta)="update($event, 'articles')">
                </app-meta-form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>