<div class="default_modal_wrapper">
    <h2> Add Gallery Album </h2>
    <div mat-dialog-content>
        <div class="page_body">
            <app-room-parameters-form [roomParametersFormData]="data" #roomParametersForm [canSubmit]="false">
            </app-room-parameters-form>
        </div>
    </div>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            გაუქმება
        </button>
        <button mat-raised-button (click)="onFinish()">
            დადასტურება
        </button>
    </mat-dialog-actions>
</div>