.example-full-width {
    margin-right: 30px;
}

.social_item {
    svg {
        width: 20px;
        height: auto;
        margin-right: 5px;
    }

    margin-bottom: 20px;
}

.socials_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.banner_container {
    margin-bottom: 30px;
}

.example-card {
    margin-bottom: 30px;
}

.images_holder {
    margin-right: 30px;
}

.inputs_holder {
    display: flex;
    flex-wrap: wrap;
}

.wellness_images {
    display: flex;

    >div {
        padding: 0 15px;
    }
}

.empty_div {
    width: 350px;
    height: 350px;
    background-color: #eee;
    margin-bottom: 30px;
}

.google_map {
    height: 400px;
    width: 70%;
    margin-bottom: 30px;
}