<div class="info_page page_wrapper">
    <mat-tab-group style="width: 100%" *ngIf="formdata">
        <mat-tab label="Contact">
            <div class="page_body">
                <form class="material-form" [formGroup]="ContactForm" (ngSubmit)="submitContact()">
                    <div class=" google_map_holder">
                        <div id="map" class="google_map" #mapElement> </div>
                    </div>
                    <div formGroupName="contact">
                        <div class="inputs_container" formGroupName="address">
                            <mat-form-field class="example-full-width">
                                <input formControlName="ge" matInput placeholder="Address Ge">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="en" matInput placeholder="Address En">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="ru" matInput placeholder="Address Ru">
                            </mat-form-field>
                        </div>
                        <mat-form-field class="example-full-width">
                            <input formControlName="phone" matInput placeholder="Phone">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input formControlName="email" matInput placeholder="Email">
                        </mat-form-field>

                        <div class="p-5">
                            <h2> Social Links </h2>
                            <div formArrayName="socialLinks">
                                <div *ngFor="let phone of socialLinksForms.controls; let i=index" [formGroupName]="i">
                                    <div class="inputs_container">
                                        <mat-form-field class="example-full-width">
                                            <input formControlName="icon" matInput placeholder="Icon">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                            <input formControlName="url" matInput placeholder="Url Link">
                                        </mat-form-field>
                                        <button mat-raised-button color="warn" (click)="deleteSocialLink(i)"> Delete </button>
                                    </div>
                                    
                                </div>
                            </div>
                            <button mat-raised-button color="primary" (click)="addSocialLink()"> Add Social Link </button>    
                        </div>
                        
                        
                        <!-- <div class="socials_container">
                            <mat-form-field class="example-full-width social_item">
                                <span matPrefix>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1" id="Capa_1" x="0px" y="0px" width="96.124px" height="96.123px"
                                        viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;"
                                        xml:space="preserve">
                                        <path
                                            d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" />
                                    </svg>
                                </span>
                                <input type="text" matInput formControlName="facebookUrl" placeholder="Facebook">
                            </mat-form-field>
                            <mat-form-field class="example-full-width social_item">
                                <span matPrefix>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path
                                            d="m 75 512 h 362 c 41.3555 0 75 -33.6445 75 -75 v -362 c 0 -41.3555 -33.6445 -75 -75 -75 h -362 c -41.3555 0 -75 33.6445 -75 75 v 362 c 0 41.3555 33.6445 75 75 75 Z m -45 -437 c 0 -24.8125 20.1875 -45 45 -45 h 362 c 24.8125 0 45 20.1875 45 45 v 362 c 0 24.8125 -20.1875 45 -45 45 h -362 c -24.8125 0 -45 -20.1875 -45 -45 Z m 0 0" />
                                        <path
                                            d="m 256 391 c 74.4375 0 135 -60.5625 135 -135 s -60.5625 -135 -135 -135 s -135 60.5625 -135 135 s 60.5625 135 135 135 Z m 0 -240 c 57.8984 0 105 47.1016 105 105 s -47.1016 105 -105 105 s -105 -47.1016 -105 -105 s 47.1016 -105 105 -105 Z m 0 0" />
                                        <path
                                            d="m 406 151 c 24.8125 0 45 -20.1875 45 -45 s -20.1875 -45 -45 -45 s -45 20.1875 -45 45 s 20.1875 45 45 45 Z m 0 -60 c 8.26953 0 15 6.73047 15 15 s -6.73047 15 -15 15 s -15 -6.73047 -15 -15 s 6.73047 -15 15 -15 Z m 0 0" />
                                    </svg>
                                </span>
                                <input type="text" matInput formControlName="instagramUrl" placeholder="Instagram">
                            </mat-form-field>

                            <mat-form-field class="example-full-width social_item">
                                <span matPrefix>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" style="" viewBox="0 0 310 310"
                                        x="0px" y="0px" xmlns:xml="http://www.w3.org/XML/1998/namespace"
                                        xml:space="preserve" version="1.1">
                                        <g id="XMLID_801_"></g>
                                        <path id="XMLID_802_"
                                            d="M 72.16 99.73 H 9.927 c -2.762 0 -5 2.239 -5 5 v 199.928 c 0 2.762 2.238 5 5 5 H 72.16 c 2.762 0 5 -2.238 5 -5 V 104.73 C 77.16 101.969 74.922 99.73 72.16 99.73 Z" />
                                        <path id="XMLID_803_"
                                            d="M 41.066 0.341 C 18.422 0.341 0 18.743 0 41.362 C 0 63.991 18.422 82.4 41.066 82.4 c 22.626 0 41.033 -18.41 41.033 -41.038 C 82.1 18.743 63.692 0.341 41.066 0.341 Z" />
                                        <path id="XMLID_804_"
                                            d="M 230.454 94.761 c -24.995 0 -43.472 10.745 -54.679 22.954 V 104.73 c 0 -2.761 -2.238 -5 -5 -5 h -59.599 c -2.762 0 -5 2.239 -5 5 v 199.928 c 0 2.762 2.238 5 5 5 h 62.097 c 2.762 0 5 -2.238 5 -5 v -98.918 c 0 -33.333 9.054 -46.319 32.29 -46.319 c 25.306 0 27.317 20.818 27.317 48.034 v 97.204 c 0 2.762 2.238 5 5 5 H 305 c 2.762 0 5 -2.238 5 -5 V 194.995 C 310 145.43 300.549 94.761 230.454 94.761 Z" />
                                    </svg>
                                </span>
                                <input type="text" matInput formControlName="linkedinUrl" placeholder="Linkedin">
                            </mat-form-field>

                            <mat-form-field class="example-full-width social_item">
                                <span matPrefix>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" style="" viewBox="0 0 512 512"
                                        x="0px" y="0px" xmlns:xml="http://www.w3.org/XML/1998/namespace"
                                        xml:space="preserve" version="1.1">
                                        <path
                                            d="M 512 97.248 c -19.04 8.352 -39.328 13.888 -60.48 16.576 c 21.76 -12.992 38.368 -33.408 46.176 -58.016 c -20.288 12.096 -42.688 20.64 -66.56 25.408 C 411.872 60.704 384.416 48 354.464 48 c -58.112 0 -104.896 47.168 -104.896 104.992 c 0 8.32 0.704 16.32 2.432 23.936 c -87.264 -4.256 -164.48 -46.08 -216.352 -109.792 c -9.056 15.712 -14.368 33.696 -14.368 53.056 c 0 36.352 18.72 68.576 46.624 87.232 c -16.864 -0.32 -33.408 -5.216 -47.424 -12.928 c 0 0.32 0 0.736 0 1.152 c 0 51.008 36.384 93.376 84.096 103.136 c -8.544 2.336 -17.856 3.456 -27.52 3.456 c -6.72 0 -13.504 -0.384 -19.872 -1.792 c 13.6 41.568 52.192 72.128 98.08 73.12 c -35.712 27.936 -81.056 44.768 -130.144 44.768 c -8.608 0 -16.864 -0.384 -25.12 -1.44 C 46.496 446.88 101.6 464 161.024 464 c 193.152 0 298.752 -160 298.752 -298.688 c 0 -4.64 -0.16 -9.12 -0.384 -13.568 C 480.224 136.96 497.728 118.496 512 97.248 Z" />
                                    </svg>
                                </span>
                                <input type="text" matInput formControlName="twitterUrl" placeholder="Twitter">
                            </mat-form-field>
                        </div> -->

                    </div>
                </form>
                <button mat-raised-button color="primary" [disabled]="ContactForm.invalid" (click)="submitContact()">
                    დადასტურება
                </button>
            </div>
        </mat-tab>

        <mat-tab label="Promo" *ngIf="formdata">
            <div class="page_body">
                <form class="material-form" [formGroup]="PromoForm" (ngSubmit)="submitPromo()">
                    <div formGroupName="promo">
                        <div class="inputs_holder" formGroupName="promoImage">
                            <div class="images_holder">
                                <h2>Image Ge</h2>
                                <app-image-upload [image]="formdata.promo.promoImage.ge"
                                    (uploadComplete)="onUploadCompleteGe($event)">
                                </app-image-upload>
                            </div>
                            <div class="images_holder">
                                <h2>Image En</h2>
                                <app-image-upload [image]="formdata.promo.promoImage.en"
                                    (uploadComplete)="onUploadCompleteEn($event)">
                                </app-image-upload>
                            </div>
                            <div class="images_holder">
                                <h2>Image Ru</h2>
                                <app-image-upload [image]="formdata.promo.promoImage.ru"
                                    (uploadComplete)="onUploadCompleteRu($event)">
                                </app-image-upload>
                            </div>
                        </div>


                        <div class="inputs_holder" formGroupName="headerLogo">
                            <div class="images_holder">
                                <h2> Header Logo Ge </h2>
                                <app-image-upload [image]="formdata.promo.headerLogo.ge"
                                    (uploadComplete)="onUploadCompleteHeaderLogoGE($event)">
                                </app-image-upload>
                            </div>
                            <div class="images_holder">
                                <h2> Header Logo En </h2>
                                <app-image-upload [image]="formdata.promo.headerLogo.en"
                                    (uploadComplete)="onUploadCompleteHeaderLogoEN($event)">
                                </app-image-upload>
                            </div>
                            <div class="images_holder">
                                <h2> Header Logo Ru </h2>
                                <app-image-upload [image]="formdata.promo.headerLogo.ru"
                                    (uploadComplete)="onUploadCompleteHeaderLogoRU($event)">
                                </app-image-upload>
                            </div>
                        </div>

                        <div class="inputs_holder" formGroupName="footerLogo">
                            <div class="images_holder">
                                <h2> Footer Logo Ge </h2>
                                <app-image-upload [image]="formdata.promo.footerLogo.ge"
                                    (uploadComplete)="onUploadCompleteFooterLogoGE($event)">
                                </app-image-upload>
                            </div>
                            <div class="images_holder">
                                <h2> Footer Logo En </h2>
                                <app-image-upload [image]="formdata.promo.footerLogo.en"
                                    (uploadComplete)="onUploadCompleteFooterLogoEN($event)">
                                </app-image-upload>
                            </div>
                            <div class="images_holder">
                                <h2> Footer Logo Ru </h2>
                                <app-image-upload [image]="formdata.promo.footerLogo.ru"
                                    (uploadComplete)="onUploadCompleteFooterLogoRU($event)">
                                </app-image-upload>
                            </div>
                        </div>

                        <mat-form-field class="example-full-width">
                            <input formControlName="headerColor" matInput placeholder="Header Color">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input formControlName="langColor" matInput placeholder="Lang Color">
                        </mat-form-field>

                    </div>
                </form>
                <button mat-raised-button color="primary" [disabled]="PromoForm.invalid" (click)="submitPromo()">
                    დადასტურება
                </button>
            </div>
        </mat-tab>

        <mat-tab label="About Us">
            <div class="page_body" *ngIf="formdata">
                <form [formGroup]="aboutUsForm" (ngSubmit)="submitAboutUs()">
                    <div formGroupName="aboutUs">
                        <div class="inputs_container">
                            <app-image-upload [image]="formdata.aboutUs.image"
                                (uploadComplete)="aboutUsImageUpload($event)">
                            </app-image-upload>
                        </div>

                        <div class="inputs_container" formGroupName="title">
                            <mat-form-field class="example-full-width">
                                <input formControlName="ge" matInput placeholder="Title Ge">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="en" matInput placeholder="Title En">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="ru" matInput placeholder="Title Ru">
                            </mat-form-field>
                        </div>
                        <div class="inputs_container" formGroupName="subtitle">
                            <mat-form-field class="example-full-width">
                                <input formControlName="ge" matInput placeholder="SubTitle Ge">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="en" matInput placeholder="SubTitle En">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="ru" matInput placeholder="SubTitle Ru">
                            </mat-form-field>
                        </div>

                        <div class="inputs_container" formGroupName="contactText">
                            <mat-form-field class="example-full-width">
                                <input formControlName="ge" matInput placeholder="Contact Text Ge">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="en" matInput placeholder="Contact Text En">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="ru" matInput placeholder="Contact Text Ru">
                            </mat-form-field>
                        </div>
                        <div class="inputs_container">
                            <mat-form-field class="example-full-width">
                                <input formControlName="contactPhone" matInput placeholder="Contact Phone">
                            </mat-form-field>
                        </div>

                        <div formGroupName="content">
                            <div style="margin-bottom: 20px">
                                <h2>Content GE</h2>
                                <quill-editor formControlName="ge" #editor> </quill-editor>
                            </div>
                            <div style="margin-bottom: 20px">
                                <h2>Content EN</h2>
                                <quill-editor formControlName="en" #editor> </quill-editor>
                            </div>
                            <div style="margin-bottom: 20px">
                                <h2>Content RU</h2>
                                <quill-editor formControlName="ru" #editor> </quill-editor>
                            </div>
                        </div>
                    </div>
                </form>
                <button style="margin-top: 20px" mat-raised-button color="primary" [disabled]="aboutUsForm.invalid"
                    (click)="submitAboutUs()">
                    დადასტურება
                </button>
            </div>
        </mat-tab>

        <mat-tab label="Banners">
            <div class="page_body">
                <div class="banner_container">
                    <h2 class="banner_page_title"> About </h2>
                    <app-banner-form [bannersData]="formdata.banners.about" #aboutBanner>
                    </app-banner-form>
                </div>
                <div class="banner_container">
                    <h2 class="banner_page_title"> Wellness </h2>
                    <app-banner-form [bannersData]="formdata.banners.wellness" #wellnessBanner>
                    </app-banner-form>
                </div>
                <div class="banner_container">
                    <h2 class="banner_page_title"> Rooms </h2>
                    <app-banner-form [bannersData]="formdata.banners.rooms" #roomsBanner>
                    </app-banner-form>
                </div>
                <div class="banner_container">
                    <h2 class="banner_page_title"> Room </h2>
                    <app-banner-form [bannersData]="formdata.banners.room" #roomBanner>
                    </app-banner-form>
                </div>
                <div class="banner_container">
                    <h2 class="banner_page_title"> News </h2>
                    <app-banner-form [bannersData]="formdata.banners.news" #newsBanner>
                    </app-banner-form>
                </div>
                <div class="banner_container">
                    <h2 class="banner_page_title"> Article </h2>
                    <app-banner-form [bannersData]="formdata.banners.article" #articleBanner>
                    </app-banner-form>
                </div>
                <div class="banner_container">
                    <h2 class="banner_page_title"> Gallery </h2>
                    <app-banner-form [bannersData]="formdata.banners.gallery" #galleryBanner>
                    </app-banner-form>
                </div>
                <div class="banner_container">
                    <h2 class="banner_page_title"> Contact </h2>
                    <app-banner-form [bannersData]="formdata.banners.contact" #contactBanner>
                    </app-banner-form>
                </div>

                <button mat-raised-button color="primary" (click)="onSubmitBanners()"> დადასტურება </button>
            </div>
        </mat-tab>

        <mat-tab label="Wellness">
            <div class="page_body">
                <form [formGroup]="wellnessForm" (ngSubmit)="submitWellnes()">
                    <div formGroupName="wellness">
                        <mat-card style="margin-bottom: 30px;">
                            <div class="inputs_container" formGroupName="contactText">
                                <mat-form-field class="example-full-width">
                                    <input formControlName="ge" matInput placeholder="Contact Text Ge">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input formControlName="en" matInput placeholder="Contact Text En">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input formControlName="ru" matInput placeholder="Contact Text Ru">
                                </mat-form-field>
                            </div>
                            <div class="inputs_container">
                                <mat-form-field class="example-full-width">
                                    <input formControlName="contactPhone" matInput placeholder="Contact Phone">
                                </mat-form-field>
                            </div>
                        </mat-card>

                        <mat-card>
                            <div class="wellness_images">
                                <div class="left_col">
                                    <div class="empty_div"></div>
                                    <app-image-upload [image]="formdata.wellness.image1"
                                        (uploadComplete)="onWellnesImage1upload($event)">
                                    </app-image-upload>
                                </div>
                                <div class="right_col">
                                    <app-image-upload [image]="formdata.wellness.image2"
                                        (uploadComplete)="onWellnesImage2upload($event)">
                                    </app-image-upload>
                                    <app-image-upload [image]="formdata.wellness.image3"
                                        (uploadComplete)="onWellnesImage3upload($event)">
                                    </app-image-upload>
                                    <app-image-upload [image]="formdata.wellness.image4"
                                        (uploadComplete)="onWellnesImage4upload($event)">
                                    </app-image-upload>
                                    <app-image-upload [image]="formdata.wellness.image5"
                                        (uploadComplete)="onWellnesImage5upload($event)">
                                    </app-image-upload>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </form>
                <button style="margin-top: 20px" mat-raised-button color="primary" [disabled]="wellnessForm.invalid"
                    (click)="submitWellnes()">
                    დადასტურება
                </button>
            </div>
        </mat-tab>

        <mat-tab label="Meal Prices & Limits">
            <div class="page_body">

                <div>
                    <h2> Filter Limits </h2>
                </div>
                
                <form [formGroup]="filterLimitsForm" (ngSubmit)="submitFilterLimitsForm()">
                    <div formGroupName="filterLimits">
                        <div>
                            <mat-form-field class="example-full-width">
                                <input formControlName="from" matInput placeholder="From">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="to" matInput placeholder="To">
                            </mat-form-field>
                        </div>
                    </div>
                    <button type="submit" mat-raised-button color="primary">დადასტურება</button>
                </form>

                <div>
                    <h2> Default Meal Price Ranges </h2>
                </div>

                <form [formGroup]="defaultMealPriceRangesForm" (ngSubmit)="submitDefaultMealPriceRanges()">
                    <div formGroupName="defaultMealPriceRanges">
                        <div>
                            <mat-form-field class="example-full-width">
                                <input formControlName="singleMealPrice" matInput placeholder="Single Meal Price">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="doubleMealPrice" matInput placeholder="Double Meal Price">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input formControlName="tripleMealPrice" matInput placeholder="Triple Meal Price">
                            </mat-form-field>
                        </div>
                        <button type="submit" mat-raised-button color="primary">დადასტურება</button>
                    </div>
                </form>

                <div>
                    <h2> Meal Price Ranges By Dates </h2>
                </div>

                <app-meal-prices [mealPricesData]="formdata.priceRangeDates"
                    (submitMealPrices)="submitMealPrices($event)">
                </app-meal-prices>

            </div>
        </mat-tab>

        <mat-tab label="Home sections">
            <div class="page_body">
                <form [formGroup]="homeSections" (ngSubmit)="submitHomeSections()">
                    <div formGroupName="homeSections">
                        <mat-card class="example-card" formGroupName="rooms">
                            <mat-card-header>
                                <h2>Rooms</h2>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="inputs_container" formGroupName="title">
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="ge" matInput placeholder="Title Ge">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="en" matInput placeholder="Title En">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="ru" matInput placeholder="Title Ru">
                                    </mat-form-field>
                                </div>

                                <div class="inputs_container" formGroupName="description">
                                    <mat-form-field>
                                        <textarea matInput formControlName="ge" rows="4"
                                            placeholder="Description Ge"></textarea>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <textarea matInput formControlName="en" rows="4"
                                            placeholder="Description En"></textarea>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <textarea matInput formControlName="ru" rows="4"
                                            placeholder="Description Ru"></textarea>
                                    </mat-form-field>
                                </div>

                                <div class="inputs_container" formGroupName="button">
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="ge" matInput placeholder="Button Text Ge">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="en" matInput placeholder="Button Text En">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="ru" matInput placeholder="Button Text Ru">
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="example-card" formGroupName="gallery">
                            <mat-card-header>
                                <h2> Gallery</h2>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="inputs_container" formGroupName="title">
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="ge" matInput placeholder="Title Ge">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="en" matInput placeholder="Title En">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="ru" matInput placeholder="Title Ru">
                                    </mat-form-field>
                                </div>

                                <div class="inputs_container" formGroupName="description">
                                    <mat-form-field>
                                        <textarea matInput formControlName="ge" rows="4"
                                            placeholder="Description Ge"></textarea>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <textarea matInput formControlName="en" rows="4"
                                            placeholder="Description En"></textarea>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <textarea matInput formControlName="ru" rows="4"
                                            placeholder="Description Ru"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="example-card" formGroupName="contact">
                            <mat-card-header>
                                <h2>Contact</h2>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="inputs_container" formGroupName="title">
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="ge" matInput placeholder="Title Ge">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="en" matInput placeholder="Title En">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="ru" matInput placeholder="Title Ru">
                                    </mat-form-field>
                                </div>

                                <div class="inputs_container" formGroupName="description">
                                    <mat-form-field>
                                        <textarea matInput formControlName="ge" rows="4"
                                            placeholder="Description Ge"></textarea>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <textarea matInput formControlName="en" rows="4"
                                            placeholder="Description En"></textarea>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <textarea matInput formControlName="ru" rows="4"
                                            placeholder="Description Ru"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <button type="submit" mat-raised-button color="primary">დადასტურება</button>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>