@import '../../../../scss/abstracts/variables';

.room_item_wrapper {
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  display: block;
  text-decoration: none;
}

.room_image {
  width: 500px;
  height: 330px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;

  }
}

.info_container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,0.4+100 */
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#66000000', GradientType=0);
  /* IE6-9 */

  padding: 20px 10px 8px;
  width: 100%;
}

.price {
  height: 50px;
  min-width: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: $blue;
  font-family: $proxima;
  margin: 0;
}

.stars {
  display: inline-block;
  margin-left: 15px;
  margin-right: auto;

  i {
    color: $yellow;
    font-size: 18px;
    margin: 0 2px;
  }
}

.details_btn {
  padding: 15px 30px;
  font-size: 20px;

  &:hover {
    .invert {
      filter: invert(0%) !important;
    }
  }
}


// Media

@media (max-width: 1399px) {
  .room_image {
    width: 450px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .room_image {
    width: 350px;
    height: 200px;
  }

  .price {
    height: 45px;
    min-width: 45px;
    font-size: 16px;
  }

  .stars {
    i {
      font-size: 14px;
    }
  }

  .details_btn {
    padding: 14px 30px;
    font-size: 18px;
  }
}

@media (max-width: 499px) {
  .room_image {
    width: 250px;
    height: 160px;
  }

  .info_container {
    padding-top: 10px;
  }

  .stars {
    margin-left: 5px;

    i {
      font-size: 12px;
    }
  }

  .details_btn {
    font-size: 0px;
    padding: 14px 18px;

    span {
      margin: 0;
    }

    &:hover {
      span {
        transform: none;
      }
    }
  }
}
