<div class="room_item_wrapper" *ngIf="roomData">
  <div class="room_image">
    <img [src]="roomData.thumbnail.url | resourceUrl" alt="{{'T' | translate : roomData.name}}">
  </div>
  <div class="info_container">
    <div class="price">
      {{roomData.defaultPrice}} $
    </div>

    <div class="stars">
      <i class="fas fa-star" *ngFor="let item of stars"></i>
    </div>
    <a routerLink="/room/{{ roomData._id }}">
      <button class="secondary_btn details_btn"> Details
        <span class="arrow_right_white invert"> </span>
      </button>
    </a>
  </div>
</div>
