<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="inputs_container">
        <app-image-upload [image]="roomsFormData.thumbnail" (uploadComplete)="onUploadComplete($event)">
        </app-image-upload>
    </div>

    <div class="inputs_container" formGroupName='name'>
        <mat-form-field class="example-full-width">
            <input formControlName="ge" matInput placeholder="Room Type Ge">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input formControlName="en" matInput placeholder="Room Type En">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input formControlName="ru" matInput placeholder="Room Type Ru">
        </mat-form-field>
    </div>

    <div class="inputs_container">
        <mat-form-field>
            <mat-label>Room Stars</mat-label>
            <mat-select formControlName="stars">
                <mat-option *ngFor="let type of types" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Default Price</mat-label>
            <input matInput type="number" formControlName="defaultPrice">
            <mat-icon matSuffix> $ </mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Price For Aditional Person</mat-label>
            <input matInput type="number" formControlName="priceForAdditionalPerson">
            <mat-icon matSuffix> $ </mat-icon>
        </mat-form-field>
    </div>

    <div class="inputs_container">
        <mat-form-field>
            <mat-label>Room Category</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let roomType of roomTypesArray" [value]="roomType._id">
                    {{roomType.name.ge}}
                </mat-option>
            </mat-select>
            <mat-hint>Required !</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="number" formControlName="numberOfGuests" matInput placeholder="Number Of Guests">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="number" formControlName="numberOfAdditionalGuests" matInput
                placeholder="Number Of Additional Guests">
        </mat-form-field>

    </div>

    <div class="inputs_container" *ngIf="roomsFormData">
        <h2>Infant Friendly</h2>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button value="1" (click)="toggleInfants(1)" [checked]="infantFriendly">Yes</mat-radio-button>
            <mat-radio-button value="2" (click)="toggleInfants(2)" [checked]="!infantFriendly">No

            </mat-radio-button>
        </mat-radio-group>
    </div>

    <h3>Room Features</h3>
    <div class="inputs_container checkbox_container">
        <div *ngFor="let feature of features; let i = index">
            <mat-checkbox #checkbox [checked]="form.get('features').value.indexOf(feature._id) > -1"
                (change)="toggleFeature(feature)">
                {{feature.name.ge}} </mat-checkbox>
        </div>
    </div>


    <div class="inputs_container" formGroupName="description">
        <div style="margin-bottom: 20px">
            <h3> Description GE </h3>
            <quill-editor formControlName="ge" #editor> </quill-editor>
        </div>
        <div style="margin-bottom: 20px">
            <h3> Description EN </h3>
            <quill-editor formControlName="en" #editor> </quill-editor>
        </div>
        <div style="margin-bottom: 20px">
            <h3> Description RU </h3>
            <quill-editor formControlName="ru" #editor> </quill-editor>
        </div>
    </div>

    <button mat-raised-button color="primary" [disabled]="form.invalid" *ngIf="canSubmit"> დადასტურება </button>
</form>