<div class="default_modal_wrapper" style="max-width: 400px; max-height: 400px">
    <h2> Add Article Category </h2>
    <div mat-dialog-content>
        <mat-tab-group style="width: 100%; margin-bottom: 20px">
            <mat-tab label="information">
                <div class="page_body">
                    <app-form [formData]="data" #articleCategoryForm [canSubmit]="canSubmit"></app-form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            გაუქმება
        </button>
        <button mat-raised-button (click)="onFinish()">
            დადასტურება
        </button>
    </mat-dialog-actions>
</div>