// *** Hide numbers in number input ***

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    border-radius: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

// *** for ios mobile ***

input[type=text],
input[type=password],
input[type=email],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}


.width_100 {
    width: 100% !important;
}