@import '../../../scss/abstracts/variables';

.contact_page_wrapper {
  overflow-x: hidden;
}

.contact_info {
  width: 33%;
  float: left;
  padding: 70px 0;
}

.page_body {
  background-color: $light_gray;
  margin-bottom: 200px;
}

.info_container {
  width: 100%;
  padding: 0 30px;
}

.form_container {
  width: calc(100% - 33%);
  float: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;


  .first_half {
    padding: 70px 0;
    padding-right: 60px;
    width: 60%;
  }

  .second_half {
    width: 40%;
    display: inline-block;
  }


  .submit_search_btn {
    display: table;
    margin: auto;
  }
}

.text {
  font-family: $proxima;
  font-size: 18px;
  color: $middle-gray;

  i {
    color: $dark_gray;
    font-size: 16px;
    margin-right: 7px;
  }
}

.contact_item,
.input_container {
  margin-bottom: 65px;

  &:last-child {
    margin-bottom: 0;
  }
}

.social_icons {
  i {
    font-size: 16px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $middle-gray;
    color: $middle-gray;
    margin-right: 20px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }
}

.google_map {
  width: 100%;
  height: 520px;
}

// Media
@media (max-width: 1199px) {
  .google_map {
    height: 400px;

  }
}

@media (max-width: 991px) {
  .google_map {
    height: 350px;
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  .form_container {
    width: 50%;

    .first_half {
      padding: 50px 0 30px;
      width: 100%;
    }

    .second_half {
      width: auto;
    }
  }

  .info_container {
    background: #f8f8f9;
  }

  .contact_info {
    padding: 50px 0;
    width: 50%;
  }

  .submit_search_btn {
    position: relative;
    padding: 15px 40px;
    margin-top: 20px;
    height: auto;
    font-size: 18px;
    margin-bottom: 20px !important;
  }

  textarea.input {
    width: auto;
  }

  .contact_wrapper {
    margin-bottom: 100px;
  }
}


@media (max-width: 768px) {
  .google_map {
    height: 300px;
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  .contact_item,
  .input_container {
    margin-bottom: 30px;

  }

  .info_container {
    padding: 0;
  }


  .contact_info {
    padding: 50px 15px 50px 0;
  }

  .text {
    font-size: 16px;
  }

  .page_body {
    margin-bottom: 100px;
  }
}


@media (max-width: 575px) {
  .contact_info {
    width: 100%;
    padding: 20px 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .social_icons i {
      margin: 0 10px;
    }
  }

  .form_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first_half {
    padding: 30px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .input {
    max-width: 100%;
    width: 100%;
  }

  .page_body {
    margin-bottom: 0;
  }

}
