@keyframes text_anim {
  0% {
    color: #fff;
  }

  35% {
    color: #fff;
  }

  45% {
    color: $blue;
  }

  55% {
    color: $blue;
  }

  64% {
    color: #fff;
  }

  100% {
    color: #fff;
  }
}

@keyframes bg_anim {
  0% {
    background-image: url('/assets/images/arrow_right_white.png');
  }

  45% {
    background-image: url('/assets/images/arrow_right_white.png');
  }

  55% {
    background-image: url('/assets/images/right_blue_arrow.png');
  }

  65% {
    background-image: url('/assets/images/right_blue_arrow.png');
  }

  75% {
    background-image: url('/assets/images/arrow_right_white.png');
  }

  100% {
    background-image: url('/assets/images/arrow_right_white.png');
  }
}

.submit_search_btn {
  background: $blue;
  color: #fff;
  font-size: 27px;
  font-family: $btn_font;
  text-align: center;
  padding: 86px 60px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 2;

  &:before {
    content: '';
    background: $light_gray;
    transform: skew(15deg);
    position: absolute;
    left: -80%;
    top: 0%;
    height: 100%;
    width: 60%;
    z-index: -1;
  }

  .arrow_right_white {
    transition: $transition;
  }

  &:hover {
    animation: text_anim 0.6s;

    .arrow_right_white {
      animation: bg_anim 0.6s;
      transform: translateX(7px);
    }

    &:before {
      transition: 0.6s all linear;
      left: 130%;

    }
  }

  &:active {
    background: darken($blue, 2);
  }

}


.arrow_right_white {
  background: url('/assets/images/arrow_right_white.png') no-repeat center;
  width: 7px;
  height: 17px;
  display: inline-block;
  margin-left: 10px;
}

.secondary_btn {
  background: #f9f9f9;
  border: none;
  font-size: 24px;
  color: $blue;
  font-family: $btn_font;
  text-align: center;
  padding: 30px 50px;
  box-shadow: 2px 14px 25px -6px rgba(#000, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 3;

  &:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background: $blue;
    z-index: -1;
  }

  &:after {
    content: '';
    height: 100%;
    width: 70%;
    position: absolute;
    left: -100%;
    top: 0;
    background: rgba(#fff, 0.25);
    z-index: 5;
    transform: skew(35deg);
    display: block;
  }

  .arrow_right_white {
    transition: $transition;
  }

  &:hover {
    color: #fff;

    &:before {
      transition: 0.17s all;
      left: 0;
    }

    &:after {
      left: 130%;
      transition: 0.2s all;
      transition-delay: 0.1s;
    }

    .arrow_right_white {
      transform: translateX(7px);
    }
  }

  &:active {
    transform: translateY(1px);

    &:before {
      background: darken($blue, 2);
    }
  }
}

.back_btn {
  height: 60px;
  width: 60px;
  display: inline-block;
  transition: $transition;
  background: #fff url('/assets/images/left_arrow_blue.png') no-repeat center;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    display: inline-block;
    background: $blue url('/assets/images/arrow_left_white.png') no-repeat center;
    transition: $transition;
  }

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(#fff, 0.3);
    background-color: $blue;
    background-position: left;

    &:before {
      right: 0;
    }
  }
}


// Media
@media (max-width: 991px) {
  .secondary_btn {
    padding: 18px 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .back_btn {
    height: 40px;
    width: 40px;
    top: 83px !important;
  }
}

@media (max-width: 575px) {
  .secondary_btn {
    font-size: 16px;
  }

  .back_btn {
    left: 15px !important;
    top: 23px !important;
  }

  .arrow_right_white {
    height: 12px;
  }
}
