.label {
  color: $middle_gray;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $proxima;
}

.number_input {
  background: none;
  border: none;
  // font-size: 25px;
  font-family: $wre-B;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 30px;
  font-size: 20px;
  line-height: 25px;

  &.invalid_input {
    border-bottom-color: #c00;
  }
}

.input {
  background: none;
  border: none;
  width: auto;
  // font-size: 25px;
  font-family: $wre-B;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-top: 19px;
  max-width: 280px;
  font-size: 16px;
  line-height: 25px;

  &.invalid_input {
    border-bottom-color: #c00;
  }
}

textarea.input {
  max-width: none;
  width: 100%;
  border: 1px solid #ccc;
}


// Media
@media (max-width: 768px) {
  .input {
    margin-top: 10px;
    font-size: 18px;
  }

}

@media (max-width: 575px) {
  .number_input {
    width: 40px;
    text-align: center;
  }
}
