.form_wrapper,
.search_container,
.book_now_container {
  .mat-button-wrapper {
    display: none;
  }

  .mat-icon-button {
    opacity: 0 !important;
    position: absolute;
    right: -5px;
    top: -25px;
  }

  .mat-form-field-label-wrapper {
    padding: 0;
  }

  .mat-form-field-wrapper {
    max-width: 180px;
    padding-bottom: 0;
  }

  .mat-input-element {
    font-size: 25px;
    font-family: $wre-B;
  }

  .mat-form-field-ripple {
    opacity: 0 !important;
  }

  .mat-form-field-underline {
    background-color: #ccc;
    bottom: 0;
  }
}

.invalid_input {
  .mat-form-field-underline {
    background-color: #c00;
  }
}

.mat-calendar-body-selected {
  background-color: $blue;
}

.book_now_container {
  .mat-form-field-infix {
    width: 208px;
  }

  .mat-form-field-wrapper {
    max-width: none;
  }
}

.mat-datepicker-content {
  border-radius: 0 !important;
}

.mat-calendar-body-cell-content {
  border-radius: 0 !important;
}


// Mat dialog
.gallery_dialog_bg {
  background: rgba(#000, 0.9) !important;
}

.gallery_dialog {
  .mat-dialog-container {
    background: transparent !important;
    box-shadow: none;
  }
}



.success_dialog {
  background-color: #fff;
}

// Media 
@media (max-width: 1599px) {
  .form_wrapper .mat-input-element {
    font-size: 22px;
  }
}


@media (max-width: 575px) {
  .book_now_container {
    .mat-form-field-infix {
      width: 100%;
    }

    .mat-form-field-wrapper {
      max-width: none;
    }

    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-infix {
      padding-top: 0px;
    }
  }

  .textare_holder {
    margin-top: 10px !important;
  }

  .textarea {
    font-size: 20px !important;
  }

  .cdk-overlay-pane {
    max-width: 90vw !important;
  }

  .gallery_dialog {
    .mat-dialog-container {
      padding: 0 !important;
    }
  }
}
