.ng5-slider {
  .ng5-slider-bubble {
    bottom: -60px !important;
    font-size: 16px;
    font-family: $proxima;
    color: $dark_gray;
    background-color: #ecedef !important;
    padding: 15px !important;

    &:after {
      content: '$';
      display: inline-block;
      font-size: 14px;
      font-family: $proxima;
      color: $dark_gray;
      margin-left: 2px;
    }
  }

  .ng5-slider-bar {
    height: 3px !important;
    background-color: #ccc !important;
  }

  .ng5-slider-pointer {
    height: 19px !important;
    width: 19px !important;
    background-color: $blue !important;
    top: -8px !important;

    &:after {
      display: none !important;
    }

    &:hover {
      background-color: lighten($blue, 10) !important;
    }
  }
}
