.rooms_carousel {
  .owl-stage-outer {
    .owl-item {
      margin-top: 0px;
      transition: 0.25s all linear;
      margin-bottom: 85px;
      filter: brightness(65%);

      &.center {
        margin-top: 85px !important;
        margin-bottom: 0px;
        filter: brightness(100%);
      }
    }

  }
}

.slider_nav {
  .owl-prev {
    background: none;
    border: none;
    height: 15px;

    span {
      font-size: 0px;
      background: url('/assets/images/arrow_left_gray.png') no-repeat center;
      width: 20px;
      height: 15px;
      display: table;
      transform: none;
    }

    &:hover {
      span {
        background-image: url('/assets/images/arrow_right_blue.png');
        transform: rotateY(-180deg);
      }
    }
  }

  .owl-next {
    background: none;
    border: none;
    height: 15px;

    span {
      font-size: 0px;
      background: url('/assets/images/arrow_left_gray.png') no-repeat center / 100%;
      width: 20px;
      height: 15px;
      display: table;
      transform: rotateY(180deg);
    }

    &:hover {
      span {
        background-image: url('/assets/images/arrow_right_blue.png');
        transform: none;
      }
    }
  }
}

.gallery_page_wrapper,
.room_page_wrapper {
  .slider_nav {
    button {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: $transition;
      padding: 0;

      &:hover {
        background-color: $blue;
      }

      span {
        min-width: 40px;
        background-position: center !important;
        background-size: auto !important;
      }
    }

    .owl-next {
      span {
        background-image: url('/assets/images/arrow_left_gray.png');
        transform: rotateY(180deg);
        filter: none;
      }

      &:hover {
        span {
          filter: brightness(150%);
        }
      }
    }

    .owl-prev {
      span {
        background-image: url('/assets/images/arrow_left_gray.png');
        transform: none;
        filter: none;
      }

      &:hover {
        span {
          filter: brightness(150%);
        }
      }
    }
  }
}

.popup_slider_nav {
  button {
    width: 50px;
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: $transition;
    border: none;

    &:hover {
      background-color: #fff;
    }

    span {
      height: 16px;
      width: 35px;
      font-size: 0;
      background-repeat: no-repeat !important;
      background-position: center;
    }
  }

  .owl-next {
    span {
      background-image: url('/assets/images/white_arrow_right.png') !important;
    }

    &:hover {
      span {
        background-image: url('/assets/images/arrow_right_blue.png') !important;
      }
    }
  }

  .owl-prev {
    span {
      background-image: url('/assets/images/white_arrow_left.png') !important;
    }

    &:hover {
      span {
        transform: rotate(180deg);
        background-image: url('/assets/images/arrow_right_blue.png') !important;
      }
    }
  }
}

.room_page_wrapper {
  .slider_nav {
    button {
      height: 70px;
      width: 70px;

      &.disabled {
        background-color: $light_gray;
      }
    }
  }
}

.popup_container {
  .owl-item {
    opacity: 0;

    &.center {
      opacity: 1;
    }
  }
}

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: auto;
  touch-action: auto;
}

// Media
@media (max-width: 1199px) {
  .rooms_carousel {
    .owl-stage-outer .owl-item {
      margin-bottom: 65px;
    }

    .owl-stage-outer .owl-item.center {
      margin-top: 65px !important;
    }
  }

  .room_page_wrapper {
    .slider_nav {
      button {
        height: 60px;
        width: 60px;
      }
    }
  }
}

@media (max-width:768px) {
  .room_page_wrapper {
    .mat-input-element {
      font-size: 20px;
    }

    .slider_nav button {
      height: 50px;
      width: 50px;
    }
  }
}


@media (max-width: 575px) {
  .room_page_wrapper .slider_nav button {
    height: 40px !important;
    width: auto !important;
    margin-top: 10px !important;
  }
}
