.stars {
  display: block;

  i {
    color: $yellow;
    font-size: 18px;
    margin: 0 2px;
  }
}

.star {
  &:before {
    display: none;
  }

  margin: 0 2px;

  height: 20px;
  background: url('/assets/images/star_empty.png') no-repeat center / 100%;

  &.on {
    background: url('/assets/images/star_fill.png') no-repeat center / 100%;
  }
}

// Media
@media (max-width: 1199px) {
  .stars {
    i {
      font-size: 16px;
    }
  }
}
