.social_icons {
  i {
    font-size: 16px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $middle-gray;
    color: $middle-gray;
    margin-right: 20px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }
}
