@import '../../../scss/abstracts/variables';

.spa_page_wrapper {
  overflow-x: hidden;
}

.menu_container {
  background-color: $light_gray;
  border-radius: 7px;
  margin-bottom: 30px;
  position: relative;
  z-index: 4;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu_item {
  transition: $transition;
  position: relative;
  overflow: hidden;

  .item_name {
    border-right: 7px;
    padding: 22px 20px;
    color: $middle_gray;
    font-size: 19px;
    font-family: $proxima;
    cursor: pointer;
    transition: $transition;
    display: block;
    overflow: hidden;

    &:before {
      content: '';
      width: 0;
      height: 4px;
      background-color: $blue;
      transition: $transition;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .sub_menu {
    background-color: $light_gray;
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    height: auto;
    overflow: hidden;
    max-height: 0;
    padding: 0 22px;
    transition: $transition;
    z-index: 5;

    li {
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:nth-last-child(-n + 2) {
    .sub_menu {
      left: auto;
      right: 0;
    }
  }

  .name {
    font-size: 16px;
    color: $middle_gray;
    padding-bottom: 12px;
    position: relative;
    display: inline-block;
    font-family: $proxima;
    white-space: nowrap;
    min-width: 250px;

    &:before {
      content: '';
      width: 70px;
      height: 1px;
      background-color: $middle_gray;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
    }

    &:after {
      content: '-';
      margin: 0 20px;
      display: inline-block;
    }
  }

  .price {
    font-family: $proxima;
    color: $blue;
    font-size: 16px;
    white-space: nowrap;
  }

  &:hover {
    overflow: visible;

    .sub_menu {
      max-height: 90vh;
      padding: 22px;

    }

    .item_name {
      color: $blue;

      &:before {
        width: 100%;
      }
    }
  }

}

.video_holder {
  position: relative;
  margin-bottom: 30px;
  height: 550px;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.video_control {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  background: rgba($blue, 0.4) url('/assets/images/play-button.png') no-repeat center / 114px 114px;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: $transition;

  &.visible {
    opacity: 1;
    z-index: 3;
    transition: none;
  }
}

.big_photo {
  height: 550px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.small_photo {
  overflow: hidden;
  height: 260px;
  margin-bottom: 30px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.features_container {
  margin: 85px 0 130px;
}

.feature_item {
  color: $middle_gray;
  font-size: 18px;
  margin-right: 80px;
  display: inline-flex;
  align-items: center;
  font-family: $proxima;
  margin-bottom: 20px;

  .icon {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: $light_gray no-repeat center;
    display: inline-block;
    margin-right: 20px;

    &.pool {
      background-image: url('/assets/images/pool.png');
    }

    &.dumbbell {
      background-image: url('/assets/images/dumbbell.png');
    }
  }
}

.book_visit {
  margin-bottom: 200px;
}


// Media
@media (max-width: 1499px) {
  .menu_item {
    .item_name {
      font-size: 16px;
      padding: 18px 10px;
    }
  }

  .small_photo {
    height: 230px;
  }

  .big_photo,
  .video_holder {
    height: 490px;
  }

  .feature_item {
    font-size: 16px;

    .icon {
      width: 80px;
      height: 80px;
      background-size: 40px;
    }
  }
}


@media (max-width: 1199px) {
  .menu {
    flex-direction: column;
  }

  .menu_item {
    .sub_menu {
      position: relative;
      top: 0;
      display: none;
      max-height: none;
      padding: 22px;

      &.open {
        display: block;
      }
    }

    .item_name {
      display: flex;
      justify-content: space-between;

      i {
        font-size: 14px;
        color: $middle_gray;
        transform: none;
        transform-origin: center;
        transition: $transition;
      }

      &.open {
        i {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .small_photo {
    height: 190px;
  }

  .big_photo,
  .video_holder {
    height: 410px;
  }

  .features_container {
    margin: 50px 0 70px;
  }

  .feature_item {

    .icon {
      width: 60px;
      height: 60px;
      background-size: 30px;
    }
  }

  .item_name {
    &:before {
      height: 1px !important;
      width: 100% !important;
    }
  }
}

@media (max-width: 991px) {
  .small_photo {
    height: auto;
  }

  .big_photo,
  .video_holder {
    height: auto;
    margin-bottom: 30px;
  }

  .book_visit {
    margin-bottom: 100px;
  }

  .video_control {
    height: 99%;
  }

  .page_body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .video_control {
    background-size: 80px;
  }

  .features_container {
    margin: 20px 60px;
  }

  .item_name {
    line-height: 1.3;
  }
}


@media (max-width: 575px) {
  .video_control {
    background-size: 50px;
  }

  .menu_item {
    .name {
      white-space: normal;
      margin-right: 10px;
      line-height: 1.2;

      &:after {
        display: none;
      }
    }

    .item_name {
      padding: 15px;
      align-items: center;
    }
  }

  .menu_item {
    .sub_menu {
      padding: 20px 15px;
    }

    &:hover {
      .sub_menu {
        padding: 20px 15px;
      }
    }
  }

  .price {
    padding: 0 !important;
  }

  .menu_item .item_name i {
    font-size: 12px;
  }

  .features_container {
    margin: 20px 0;

    .feature_item {
      margin: 0 0 20px;
      line-height: 1.3;
      font-size: 14px;

      .icon {
        width: 40px;
        height: 40px;
        background-size: 25px;
      }
    }
  }

  .book_visit {
    margin-bottom: 50px;
  }
}
