<div class="spa_page_wrapper">
  <div class="page_header">
    <app-search-global [page]="'wellness'"></app-search-global>
  </div>

  <div class="container page_body">
    <div class="menu_container" *ngIf="data">
      <ul class="menu">
        <li class="menu_item" *ngFor="let item of data">
          <span class="item_name"> {{ 'T' | translate : item.name }} <i class="fas fa-chevron-left d-xl-none"></i></span>
          <ul class="sub_menu">
            <li *ngFor="let procedure of item.procedures"> 
              <span class="name"> {{ 'T' | translate : procedure?.name }} </span>
              <div>
                <span class="price" *ngIf="procedure?.duration?.ge"> {{ 'T' | translate : procedure?.duration }} - </span> 
                <span class="price" *ngIf="procedure?.price?.ge">{{ 'T' | translate : procedure?.price }} </span> 
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="row main_content" *ngIf="commonData">
      <div class="col-lg-6">
        <div class="video_holder">
          <video #video preload="auto" loop="loop" width="100%" (click)="pauseVideo()" style="cursor: pointer">
            <source src="/assets/videos/spa.mp4#t=0.5">
          </video>

          <div class="video_control" [ngClass]="{'visible' : isPaused}" (click)="playVideo()"> </div>
        </div>

        <div class="big_photo">
          <img [src]="commonData.wellness.image1.url | resourceUrl" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="small_photo"> <img [src]="commonData.wellness.image2.url | resourceUrl" alt=""> </div>
        <div class="small_photo"> <img [src]="commonData.wellness.image3.url | resourceUrl" alt=""></div>
        <div class="small_photo"> <img [src]="commonData.wellness.image4.url | resourceUrl" alt=""></div>
        <div class="small_photo"> <img [src]="commonData.wellness.image5.url | resourceUrl" alt=""></div>
      </div>
    </div>

    <!-- <div class="features_container">
      <div class="feature_item">
        <span class="icon pool"></span>
        აუზი (სამუშაო საათები : 08:00-23:00)
      </div>
      <div class="feature_item">
        <span class="icon dumbbell"></span>
        ფიტნესი (სამუშაო საათები : 08:00-23:00)
      </div>
    </div> -->

    <div class="book_visit" *ngIf="commonData">
      <app-book-visit [phoneNumber]="commonData.wellness.contactPhone" [contactText]="commonData.wellness.contactText">
      </app-book-visit>
    </div>
  </div>
</div>
