<div class="shared_meta_wrapper">
    <form class="material-form" [formGroup]="form" (ngSubmit)="submit(form)">
        <div formGroupName="meta">
            <div class="inputs_container">
                <app-image-upload [image]="meta.image" (uploadComplete)="onUploadComplete($event)">
                </app-image-upload>
            </div>

            <div class="inputs_container" formGroupName="title">
                <mat-form-field class="example-full-width">
                    <input formControlName="ge" matInput placeholder="Title GE">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="en" matInput placeholder="Title EN">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="ru" matInput placeholder="Title RU">
                </mat-form-field>
            </div>

            <div class="inputs_container" formGroupName="description">
                <mat-form-field class="example-full-width">
                    <textarea formControlName="ge" matInput placeholder="Description GE"> </textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea formControlName="en" matInput placeholder="Description EN"> </textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea formControlName="ru" matInput placeholder="Description RU"> </textarea>
                </mat-form-field>
            </div>

            <div class="inputs_container">
                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList aria-label="selection">
                        <mat-chip *ngFor="let keyword of getControls(form.controls['meta'], 'keywords'); let i = index;"
                            [selectable]="selectable" [removable]="removable" (removed)="remove(i)">
                            {{keyword.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New keyword..." [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>

            <button type="submit" mat-raised-button color="primary" *ngIf="canSubmit"> დადასტურება </button>
        </div>
    </form>
</div>