 <div style="position: relative;" *ngIf="common">
   <div class="close_popup" (click)="closeDialog()"> </div>

   <h2 *ngIf="contactForm"> {{ 'T' | translate : common.staticTexts.successMessages.contactMessage }} </h2>

   <h2 *ngIf="!contactForm"> {{ 'T' | translate : common.staticTexts.successMessages.bookingMessage }} </h2>

   <button mat-raised-button class="ok_btn" (click)="closeDialog()"> 
      {{ 'T' | translate : common.staticTexts.successMessages.button }}
   </button>
 </div>
 