@import '../../../../../scss/abstracts/variables';

h2 {
  font-family: $wre;
  margin: 20px 50px;
  font-size: 26px;
}

.ok_btn {
  font-family: $btn_font;
  font-size: 18px;
  display: table;
  margin: 0 auto;
  background-color: $blue;
  border: none;
  border-radius: 0;
  color: #fff;
  padding: 15px 40px;
  transition: $transition;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    background: rgba(#fff, 0.3);
    transform: skew(15deg);
    position: absolute;
    left: -80%;
    top: 0%;
    height: 100%;
    width: 60%;
    z-index: 1;
  }

  &:hover {
    &:before {
      transition: 0.2s all linear;
      left: 130%;
    }
  }
}

.close_popup {
  position: absolute;
  right: -15px;
  top: -35px;
  cursor: pointer;
  background: url('/assets/images/close_icon.png') no-repeat center / 100%;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  transition: $transition;
  filter: invert(1);


  &:hover {
    opacity: 1;
  }
}


// Media
@media (max-width: 768px) {
  h2 {
    margin: 10px 20px;
    font-size: 20px;
  }

  .ok_btn {
    font-size: 16px;
  }

  .close_popup {
    top: -25px;
  }
}

@media (max-width: 575px) {
  h2 {
    margin: 0 0 20px;
    font-size: 18px;
    text-align: center;
  }

  .ok_btn {
    font-size: 14px;
  }

  .close_popup {
    top: -18px;
    width: 16px;
    height: 16px;
    right: -18px;
  }
}
