@import '../../../scss/abstracts/variables';

.gallery_page_wrapper {
  overflow-x: hidden;
}

.info_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#80000000', GradientType=0);
  /* IE6-9 */
  padding: 20px 30px;
  transition: $transition;
}


.album_item {
  border-radius: 7px;
  overflow: hidden;
  height: 259px;
  position: relative;
  transition: $transition;
  cursor: pointer;
  margin-bottom: 20px;

  &.active_album {
    box-shadow: 10px 10px 8px 0px rgba(24, 28, 30, 0.5);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: $transition;
  }

  &:hover {
    img {
      filter: brightness(60%);
    }

    .info_container {
      .photo_amount {
        margin-bottom: 15px;
      }
    }
  }
}

.carousel_holder {
  border-radius: 12px;
  border: 20px solid #fff;
  padding: 0;
  background-color: #fff;
  position: relative;
  margin-top: -60px;
  margin-bottom: 50px;
}


.title {
  font-size: 20px;
  color: #fff;
  font-family: $wre-B;
}

.photo_amount {
  font-size: 16px;
  color: #fff;
  font-family: $wre-L;
  transition: $transition;
}

.slider_nav {
  float: right;
}

.slider_nav {
  position: relative;
  z-index: 4;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #ccc;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
  }

  button {
    background-color: $blue;
    filter: invert(100%);
    width: 50px;
    height: 50px;
  }
}

.album_title {
  margin-bottom: 30px;

  .title_4 {
    margin-right: 20px;
  }

  span {
    font-family: $wre-L;
    font-size: 18px;
    color: $middle_gray;
  }
}

.image_item {
  overflow: hidden;
  height: 265px;
  cursor: pointer;
  width: calc(33% - 30px);
  flex: none;
  margin: 0 15px 30px;
  padding: 0;
  border-radius: 5px;
  transition: 0.6s all ease-in-out;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: 0.8s all ease-in-out;
  }

  &:hover {
    box-shadow: 0px 10px 21px 0px rgba(24, 28, 30, 0.28);

    img {
      transform: scale(1.07);

    }
  }
}

.images_container {
  margin-bottom: 150px;
}


// Media
@media (max-width: 1499px) {
  .album_item {
    height: 200px;
  }

  .image_item {
    height: 200px;
  }
}

@media (max-width: 991px) {
  .image_item {
    height: 210px;
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .album_item {
    height: auto;
  }

  .image_item {
    height: auto;
  }

  .album_title span {
    font-size: 14px;
  }

  .slider_nav {
    float: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 575px) {
  .slider_nav {
    margin-top: 0 !important;
  }

  .image_item {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
  }

  .carousel_holder {
    margin-top: 0;
  }
}
