<div class="gallery_page_wrapper" [@.disabled]>

  <app-search-global [page]="'gallery'"></app-search-global>

  <div class="gallery_body" *ngIf="galleryData">
    <div class="container carousel_holder clearfix">
      <owl-carousel id="owl-carousel" [items]="galleryData.items" [options]="{
      items: 1,
      nav: true,
      navigation: true,
      dots: false,
      loop: true,
      margin: 40,
      autoWidth: false,
      center: false,
      autoHeight: false,
      navContainer: '.slider_nav',
      responsive:{ '0': { items: 1 }, '575' :{margin: 30}, '768':{ items: 2, autoHeight: false }, '991':{ items: 3 } }
    }" [carouselClasses]="['owl-theme', 'sliding']">

        <div class="album_item" [ngClass]="{ 'active_album' : album._id === galleryId }" *ngFor=" let album of galleryData.items" routerLink="/gallery/{{album._id}}">
          <img [src]="album.thumbnail.url | resourceUrl" alt="{{album.title.ge}}">

          <div class="info_container">
            <h3 class="title"> {{'T' | translate :  album.title}} </h3>
          </div>
        </div>

      </owl-carousel>
      <div class="slider_nav"> </div>
    </div>

    <div class="album_gallery" *ngIf="selectedAlbum" id="galleryId">
      <div class="container">
        <div class="album_title">
          <h2 class="title_4"> {{'T' | translate : selectedAlbum.title}} </h2>
        </div>
        <div class="images_container">
          <div class="row">
            <div class="image_item" *ngFor="let image of selectedAlbum.images; let i = index"
              (click)="openDialog($event, i)">
              <img [src]="image.url | resourceUrl" alt="{{'T' | translate :  selectedAlbum.title}}">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
