<div class="article_page_wrapper">
  <div class="page_header">
    <div class="container">
      <div class="back_btn" [routerLink]="'/news'"></div>
    </div>

    <app-search-global [page]="'article'"></app-search-global>
    
  </div>

  <div class="container page_body clearfix" *ngIf="newsData">
    <div class="image_holder">
      <img [src]="newsData.thumbnail.url | resourceUrl" alt="{{ 'T' | translate : newsData.title}}">
      <div class="additional_info">
        <span class="category"> {{ 'T' | translate : common.staticTexts.global.category }} 
          <span> {{ 'T' | translate : newsData?.articleCategory?.title }}
          </span> </span>
        <span class="date"> {{createdDate}} </span>
      </div>
    </div>

    <div class="content_holder">
      <div class="title_2 title">{{'T' | translate : newsData.title}} </div>

      <div class="gray_text_3 content" [innerHTML]="'T' | translate : newsData.content">
        <!-- {{ newsData.content.ge | safeHtml }} -->
      </div>
    </div>
  </div>
</div>
