@import '../../../scss/abstracts/variables';

.article_page_wrapper {
  overflow-x: hidden;
}

.page_header {
  .container {
    position: relative;
  }
}

.content_holder {
  margin-bottom: 150px;
}

.back_btn {
  position: absolute;
  top: 74px;
  left: 0;
  z-index: 2;
}

.page_body {
  padding-left: 0;
  padding-right: 0;
}

.image_holder {
  max-width: 45%;
  position: relative;
  margin-right: 30px;
  margin-bottom: 35px;
  float: left;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
}

.additional_info {
  position: absolute;
  left: 20px;
  bottom: 0;
  padding: 16px 25px;
  background-color: $light_gray;
  border-radius: 7px;
  transform: translateY(45%);
}

.category {
  font-size: 16px;
  color: $blue;
  font-family: $proxima;
  margin-right: 40px;

  span {
    color: $intro_gray;
  }
}

.date {
  font-size: 16px;
  color: $intro_gray;
  font-family: $proxima;
}


// Media
@media (max-width: 1199px) {
  .content {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .image_holder {
    max-width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .additional_info {
    position: static;
    margin-top: 10px;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: none;
  }
}


@media (max-width: 575px) {
  .content_holder {
    margin-bottom: 50px;
  }

  .additional_info {
    flex-direction: column;

    .category {
      margin: 0 0 7px;
    }
  }
}
