 <div style="width: 100%">
     <app-filters [query]="query" (queryChange)="reloadParams($event)"></app-filters>

     <div class="page_body">
         <app-list [items]="items$" [numTotal]="numTotal$" [query]="query" (queryChange)="reloadParams($event)"
             (updateForm)="update($event)" (deleteForm)="delete($event)">
         </app-list>
     </div>

     <button mat-fab matTooltip="დამატება" class="add-button" (click)="add()">
         <mat-icon>add</mat-icon>
     </button>
 </div>