<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="priceRangeFormData">
    <div class="inputs_container" formArrayName="priceRangeDates">
        <div *ngFor="let item of form.get('priceRangeDates').controls; let i = index;">
            <div [formGroupName]="i" style="margin-bottom: 20px;">
                <mat-form-field style="min-width: auto">
                    <input matInput [matDatepicker]="dp" placeholder="Start Date datepicker"
                        formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>

                <mat-form-field style="min-width: auto">
                    <input matInput [matDatepicker]="dp2" placeholder="End Date datepicker" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                    <mat-datepicker #dp2></mat-datepicker>
                </mat-form-field>

                <mat-form-field style="min-width: auto">
                    <input type="number" matInput formControlName="defaultPrice" placeholder="Default Price">
                    <mat-hint> Use Numbers Only </mat-hint>
                    <mat-error *ngIf="!item.get('defaultPrice').valid && item.get('defaultPrice').touched"> Invalid
                        input </mat-error>
                </mat-form-field>

                <mat-form-field style="min-width: auto">
                    <input type="number" matInput formControlName="priceForAdditionalPerson"
                        placeholder="Price for additonal person">
                    <mat-hint>Use Numbers Only</mat-hint>
                    <mat-error
                        *ngIf="!item.get('priceForAdditionalPerson').valid && item.get('priceForAdditionalPerson').touched">
                        Invalid
                        input </mat-error>
                </mat-form-field>
                <button mat-raised-button color="warn" type="button" (click)="deleteForm(i)">
                    <mat-icon matTooltip="წაშლა" style="cursor: pointer"> delete
                    </mat-icon>
                </button>
            </div>
        </div>

        <div style="color:red; margin-bottom: 20px;" *ngIf="!checkValueChange()"> Invalid Dates, Please Check Again
        </div>

        <button mat-raised-button color="basic" type="button" (click)="addForm()">Add Date</button>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
        *ngIf="form.value.priceRangeDates.length !== 0 && canSubmit">
        დადასტურება </button>
</form>