@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");


// colors
$blue: #194452;
$menu_gray: #555151;
$light_gray: #f8f8f9;
$middle_gray: #767676;
$intro_gray: #a1a1a1;
$yellow: #ffcd00;
$dark_gray: #353535;

// fonts
$menu_font: 'ProximaNova-Regular', "BPG Nino Mtavruli", sans-serif;

$btn_font: 'Wremena', sans-serif;

$proxima: 'ProximaNova-Regular', sans-serif;
$wre-B: 'Wremena-Bold', "BPG Nino Mtavruli", sans-serif;
$wre-L: 'Wremena-Light', "BPG Nino Mtavruli", sans-serif;
$wre: 'Wremena', "BPG Nino Mtavruli", sans-serif;
// effects
$transition: 0.25s all ease-in-out;
