<div class="room_page_wrapper">
  <div class="page_header">
    <div class="container">
      <div class="back_btn" [routerLink]="'/rooms'" [queryParams]="queryParams"></div>
    </div>
    <app-search-global [page]="'room'"></app-search-global>
  </div>

  <div class="container page_body">
    <div class="row">
      <div class="col-lg-4">
        <app-filters-global></app-filters-global>
      </div>

      <div class="col-lg-8" *ngIf="room && common">
        <div class="images_carousel">
          <owl-carousel id="owl-carousel" [items]="room.images" [options]="{
              items: 1,
              nav: true,
              navigation: true,
              dots: false,
              loop: true,
              margin: 5,
              autoWidth: false,
              center: false,
              autoHeight: false,
              navContainer: '.slider_nav',
              responsive:{ '0': { items: 1, autoHeight: false }, '575' :{margin: 5, autoHeight: true }, '768':{ items: 1
              }}}" [carouselClasses]="['owl-theme', 'sliding']">

            <div class="carousel_item" *ngFor="let image of room.images">
              <div class="image_holder">
                <img [src]="image.url | resourceUrl" alt="{{ 'T' | translate : image.name}} ">
              </div>
            </div>
          </owl-carousel>
        </div>

        <div class="image_desc">
          <div class="image_info">
            <div class="price">
              <span> {{ 'T' | translate : common?.staticTexts?.room?.startsFrom_prefix }} </span>
              ${{room.defaultPrice}}
              <span> {{ 'T' | translate : common?.staticTexts?.room?.startsFrom_suffix }} </span>
              /
              {{ 'T' | translate : common?.staticTexts.room?.night }}
            </div>

            <div class="category">{{'T' | translate : room.name}} </div>

            <div class="stars">
              <i class="fas fa-star" *ngFor="let item of stars"></i>
            </div>
          </div>
          <div class="slider_nav"> </div>
        </div>

        <div class="room_info">
          <!-- <div class="apartment">
            <span> Entire apartment </span> 2 Guests, 1 Bedroom, 1 Bed, 1 Bath
          </div> -->

          <div class="row features_container">
            <div class="col-6 col-sm-4 col-md-3" *ngFor="let feature of room.features">
              <div class="feature">
                <div class="icon">
                  <img [src]="feature.icon.url | resourceUrl" alt="{{ 'T' | translate : feature.name}}">
                </div>
                {{'T' | translate : feature.name}}
              </div>
            </div>
          </div>

          <div class="description">
            <div class="title_5"> {{ 'T' | translate : common.staticTexts.room.description }} </div>

            <div class=" gray_text_2 description_text" [innerHTML]="'T' | translate : room.description">
            </div>
          </div>

          <div class="book_now_container">
            <div class="title_2 booking_title"> {{ 'T' | translate : common.staticTexts.room.bookNow }} </div>

            <form [formGroup]="form" (ngSubmit)="submit()">

              <div class="row">
                <div class="col-xl-8">
                  <div class="input_holder" [ngClass]="{'invalid_input' : dateError}">
                    <div class="label"> {{ 'T' | translate : common.staticTexts.global.startDate }} </div>
                    <mat-form-field
                      [ngClass]="{'invalid_input' : !form.get('startDate').valid && form.get('startDate').touched}">
                      <input matInput [min]="minStartDate" [matDatepicker]="dp" placeholder=""
                        formControlName="startDate">
                      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle> <i class="arrow_down"> </i>
                      <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="input_holder" [ngClass]="{'invalid_input' : dateError}">
                    <div class="label"> {{ 'T' | translate : common.staticTexts.global.endDate }} </div>
                    <mat-form-field
                      [ngClass]="{'invalid_input' : !form.get('endDate').valid && form.get('endDate').touched}">
                      <input matInput [min]="minEndDate" [matDatepicker]="dp2" placeholder=" "
                        formControlName="endDate">
                      <mat-datepicker-toggle matSuffix [for]="dp2"> </mat-datepicker-toggle> <i class="arrow_down"> </i>
                      <mat-datepicker #dp2></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="numbers">
                    <div class="num_input">
                      <div class="label"> {{ 'T' | translate : common.staticTexts.global.adults }} </div>
                      <input class="number_input"
                        [ngClass]="{'invalid_input' : !form.get('adults').valid && form.get('adults').touched}"
                        type="number" formControlName="adults">
                    </div>

                    <div class="num_input">
                      <div class="label"> {{ 'T' | translate : common.staticTexts.global.children }} </div>
                      <input class="number_input" type="number"
                        [ngClass]="{'invalid_input' : !form.get('children').valid && form.get('children').touched}"
                        formControlName="children">
                    </div>

                    <div class="num_input">
                      <div class="label"> {{ 'T' | translate : common.staticTexts.global.infants }} </div>
                      <input class="number_input" type="number"
                        [ngClass]="{'invalid_input' : !form.get('infants').valid && form.get('infants').touched}"
                        formControlName="infants">
                    </div>
                  </div>

                  <div *ngIf="personNumberError" class="error_message">
                    <!-- <hr style="border-color: #ccc;"> -->
                    Number of people is grater than allowed

                  </div>

                  <div class="price_box" *ngIf="!personNumberError">
                    <!-- <hr style="border-color: #ccc;"> -->
                    Total price: <span>{{ totalPrice}}</span> <span class="currency_icon">$</span>
                  </div>

                  <div class="input_container">
                    <div class="input_container_wrapper">
                      <div class="label"> {{ 'T' | translate : common.staticTexts.room.emailField }} </div>
                      <input class="input" type="email" formControlName="email" placeholder="">
                    </div>

                    <div class="input_container_wrapper">
                      <div class="label"> {{ 'T' | translate : common.staticTexts.room.phoneField }} </div>
                      <input class="input" type="text" formControlName="phone" placeholder="">
                    </div>
                  </div>

                  <div class="textare_holder">
                    <div class="label"> {{ 'T' | translate : common.staticTexts.room.bookingMessage }} </div>
                    <textarea class="textarea" formControlName="details" rows="2"></textarea>
                  </div>

                  <!-- add class "checked" when checked -->
                  <div class="features_holder">
                    <div class="form_feature_item checked"
                      (click)="onFeatureSelect($event, common?.defaultMealPriceRanges?.singleMealPrice)">
                      {{'T' | translate : common.staticTexts.room.breakfast}}
                      <!-- <span class="feature_price"> {{ common?.defaultMealPriceRanges?.singleMealPrice }} </span> -->
                    </div>
                    <div class="form_feature_item"
                      (click)="onFeatureSelect($event,  common?.defaultMealPriceRanges?.doubleMealPrice)">
                      {{'T' | translate : common.staticTexts.room.doubleMeal}}
                      <!-- <span class="feature_price"> {{ common?.defaultMealPriceRanges?.doubleMealPrice }} </span> -->
                    </div>
                    <div class="form_feature_item"
                      (click)="onFeatureSelect($event, common?.defaultMealPriceRanges?.tripleMealPrice)">
                      {{'T' | translate : common.staticTexts.room.tripleMeal}}
                      <!-- <span class="feature_price"> {{ common?.defaultMealPriceRanges?.tripleMealPrice }} </span> -->
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 flex_box">
                  <button class="submit_search_btn submit_btn" type="submit">
                    {{ 'T' | translate : common.staticTexts.room.bookingButton }}
                    <span class="arrow_right_white">
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
