@import '../../../scss/abstracts/variables';

.room_page_wrapper {
  overflow-x: hidden;
}

.page_header {
  .container {
    position: relative;
  }
}

.back_btn {
  position: absolute;
  top: 74px;
  left: 0;
  z-index: 2;
}

.image_holder {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  overflow: hidden;
  height: 542px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider_nav {
  float: right;
  display: flex;
}

.image_desc {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.price {
  background-color: $blue;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 21px;
  z-index: 4;
  position: relative;
  color: #fff;
  font-family: $proxima;
  font-size: 18px;
  position: absolute;
  top: -75px;
  left: 15px;

  span {
    color: $intro_gray;
  }
}

.category {
  font-family: $wre-B;
  font-size: 28px;
  color: $dark_gray;
  margin: 20px 0 10px;
}

.apartment {
  padding: 20px 25px;
  background-color: $light_gray;
  border-radius: 7px;
  font-size: 16px;
  font-family: $proxima;
  color: $intro_gray;

  span {
    font-size: 24px;
    color: $dark_gray;
    font-family: $wre;

    &:before {
      content: '';
      background: url('/assets/images/appartment.png') no-repeat center;
      display: inline-block;
      width: 24px;
      height: 26px;
      margin-right: 15px;
    }

    &:after {
      content: '';
      margin: 0 25px;
      height: 12px;
      width: 1px;
      background-color: $dark_gray;
      display: inline-block;
    }
  }

}

.room_info {
  >div {
    margin-bottom: 60px;
  }
}

.features_container {
  margin-bottom: 30px !important;
}

.feature {
  background-color: $light_gray;
  height: 130px;
  min-width: 130px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: $proxima;
  font-size: 16px;
  color: $dark_gray;
  text-align: center;

  .icon {
    width: 28px;
    height: 28px;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }
}

.description {
  .title_5 {
    margin-bottom: 20px;
  }
}

.booking_title {
  margin-bottom: 40px;
}

.arrow_down {
  position: absolute;
  right: 0px;
  top: 12px;
}

.input_holder {
  display: inline-block;
  margin-right: 40px;

  &:nth-child(2) {
    margin-right: 0;
  }
}

.submit_btn {
  padding: 70px 50px;
}

.textarea {
  width: 100%;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  font-size: 25px;
  font-family: $wre-B;
}

.textare_holder {
  margin-top: 40px;
}

.flex_box {
  display: flex;
  align-items: center;
}

.features_holder {
  margin-top: 40px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form_feature_item {
  background-color: $light_gray;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding: 10px 22px;
  margin-bottom: 20px;
  font-family: $proxima;
  font-size: 14px;
  color: $middle_gray;
  cursor: pointer;
  margin-right: 25px;


  &:before {
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid $middle_gray;
    margin-right: 7px;
    transition: $transition;
    border-radius: 50%;
  }

  &.checked {
    &:before {
      border-width: 6px;
      border-color: $blue;
    }
  }
}


.input_container {
  margin-top: 30px;
  display: flex;

  .input_container_wrapper {
    width: 50%;
  }

  .input {
    margin-top: 0;
  }
}

.numbers {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;

  .num_input {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.price_box {
  color: $middle_gray;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $proxima;
  margin-top: 25px;

  span {
    font-family: $wre-B;
    font-size: 30px;
    color: #000;
    margin-left: 5px;
    display: inline-block;
  }

  .currency_icon {
    font-size: 20px;
    margin-left: 5px;
  }
}

.error_message {
  font-size: 16px;
  font-family: $proxima;
  margin-top: 35px;
  color: red;
  line-height: 1.2;
}

// Media
@media (max-width: 1499px) {
  .image_holder {
    height: 395px;
  }
}

@media (max-width: 1199px) {
  .image_holder {
    height: 327px;
  }

  .category {
    font-size: 22px;
  }

  .stars i {
    font-size: 14px;
  }

  .apartment {
    font-size: 14px;

    span {
      font-size: 20px;

      &:before {
        width: 20px;
        height: 22px;
        background-size: 100%;
      }

      &:after {
        margin: 0 15px;
      }
    }
  }

  .feature {
    flex-direction: column;
    font-size: 14px;

    .icon {
      margin-bottom: 5px;
    }
  }

  .submit_btn {
    padding: 20px 50px;
    font-size: 24px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .page_body {
    padding: 0;
  }

  .image_holder {
    height: 382px;
  }
}

@media (max-width: 768px) {
  .category {
    font-size: 18px;
    padding-right: 10px;
  }

  .apartment {
    span {
      display: table;
      margin-bottom: 15px;
      border-bottom: 1px solid #000;
      padding-bottom: 5px;

      &:after {
        display: none;
      }
    }
  }

  .image_holder {
    height: auto !important;
  }
}

@media (max-width: 575px) {
  .numbers {
    margin: 0 0 30px;
  }

  .booking_title {
    margin-bottom: 25px;
  }

  .back_btn {
    top: 21px !important;
    left: 15px !important;
  }

  .input_holder {
    width: 100%;
    margin: 0 0 30px;
  }

  .submit_btn {
    padding: 15px 40px;
    height: auto;
    font-size: 18px;
  }

  .slider_nav {
    position: relative;
    margin-top: 0;
  }

  .price {
    font-size: 16px;
  }

  .image_holder {
    height: 280px !important;
  }

  .arrow_down {
    top: 7px;
  }
}

@media (max-width: 440px) {
  .image_holder {
    height: 220px !important;
  }
}
