.articles_page {
    flex-direction: column;
    width: 100%;
}

.add-button {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(244, 67, 54, .2);
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 5;
}