<div class="aboutUs_page_wrapper">

  <app-search-global [page]="'about'"></app-search-global>

  <div class="container page_body" *ngIf="common && common.aboutUs">
    <div class="row main_content">
      <div class="col-lg-5">
        <div class="image_holder">
          <img [src]="common.aboutUs.image.url | resourceUrl" [alt]="common.aboutUs.title.ge">
        </div>
      </div>

      <div class="col-lg-7">
        <div class="aboutUs_desc">
          <div class="gray_text_2 subtitle"> {{'T' | translate : common.aboutUs.subtitle}} </div>
          <div class="title_2  title"> {{'T' | translate : common.aboutUs.title}} </div>

          <div class="content" [innerHTML]="'T' | translate : common.aboutUs.content "> </div>
        </div>
      </div>
    </div>

    <app-book-visit [phoneNumber]="common.aboutUs.contactPhone" [contactText]="common.aboutUs.contactText">
    </app-book-visit>
  </div>
</div>
