@import '../../../scss/abstracts/variables';

.aboutUs_page_wrapper {
  overflow-x: hidden;
}

.image_holder {
  padding-right: 30px;
}

.aboutUs_desc {
  padding-left: 30px;
}

.image_holder {
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.page_body {
  margin-bottom: 200px;
}

.main_content {
  margin-bottom: 60px;
}

.aboutUs_desc {
  padding-top: 45px;
}

.subtitle {
  text-transform: uppercase;
  margin-bottom: 15px;
  color: $intro_gray;
}

.title {
  margin-bottom: 35px;
}

.content {
  font-family: $proxima;
  font-size: 19px;
  color: $middle_gray;
  line-height: 1.2;
}




// Media
@media (max-width: 1199px) {
  .aboutUs_desc {
    padding-left: 0;
  }

  .image_holder {
    padding-right: 0;
  }
}


@media (max-width: 991px) {
  .main_content {
    margin-left: -30px;
    margin-right: -30px;
  }

  .page_body {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .aboutUs_desc {
    padding-top: 25px;
  }

  .content {
    font-size: 16px;
  }

  .title {
    margin-bottom: 20px;
  }

  .page_body {
    margin-bottom: 50px;
  }
}
