 <div class="mat-elevation-z8 gallery_table">
     <table mat-table [dataSource]="dataSource" #table multiTemplateDataRows cdkDropList
         (cdkDropListDropped)="drop($event)">
         <ng-container matColumnDef="name">
             <th mat-header-cell *matHeaderCellDef> Room Type </th>
             <!-- matTooltip for d&d bug fix -->
             <td mat-cell *matCellDef="let element" class="table_first_col" matTooltip="Open or Drag">
                 <mat-icon class="table_arrow">arrow_right</mat-icon>
                 {{ element?.name?.ge || element?.name?.en || element?.name?.ru }}
             </td>
         </ng-container>

         <ng-container matColumnDef="options">
             <th mat-header-cell *matHeaderCellDef> Options </th>
             <td mat-cell *matCellDef="let element">
                 <mat-icon matTooltip="წაშლა" style="cursor: pointer" (click)="confirmDelete($event, element)">delete
                 </mat-icon>
             </td>
         </ng-container>


         <ng-container matColumnDef="expandedDetail">
             <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                 <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                     <div class="example-element-description width_100">

                         <div class="page_body">
                             <app-room-types-form [roomTypesData]="element"
                                 (submitRoomTypes)="submitRoomTypes($event, element._id)">
                             </app-room-types-form>
                         </div>
                     </div>
                 </div>
             </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
         <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
             [class.example-expanded-row]="expandedElement === element"
             (click)="expandedElement = expandedElement === element ? null : element" style="cursor: pointer" cdkDrag>
         </tr>
         <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"
             style="overflow: hidden; display: table; height: 0">
         </tr>
     </table>

     <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="query.limit" [length]="pageLength" showFirstLastButtons
         (page)="pageEvent = pagenatorEvent($event)">
     </mat-paginator>

 </div>