
<div id="login" fxLayout="column" style="height: 100%;">
	<div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
		<div id="login-form">
			<div class="logo">
				<img src="assets/images/logos/fuse.svg">
			</div>
			<div class="title"> LOGIN TO YOUR ACCOUNT </div>
			<form name="loginForm" [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
				<mat-form-field>
					<input matInput placeholder="Email" formControlName="email">
					<mat-error *ngIf="hasError(loginForm, 'email', 'required', submitted)">	Email is required 	</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" placeholder="Password" formControlName="password">
					<mat-error *ngIf="hasError(loginForm, 'password', 'required', submitted)"> Password is required </mat-error>
				</mat-form-field>
				<mat-error *ngIf="serverError" style="text-align: center;"> Invalid username or password </mat-error>
				<button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"> Sign In </button>
			</form>
		</div>
	</div>
</div>