<app-filters [query]="query" (queryChange)="reloadParams($event)"></app-filters>

<div class="page_body">
    <app-list [items]="items$" [numTotal]="numTotal$" [query]="query" (queryChange)="reloadParams($event)"
        (deleteForm)="delete($event)" (updateGalleryPhotosForm)="updateGallery($event)"
        (updateGalleryForm)="update($event)" (updateMeta)="update($event)">
    </app-list>
</div>

<button mat-fab matTooltip="დამატება" class="add-button" (click)="add()">
    <mat-icon>add</mat-icon>
</button>