<div class="default_modal_wrapper">
    <h2> Add Article </h2>
    <div mat-dialog-content>
        <mat-tab-group style="width: 100%; margin-bottom: 20px">
            <mat-tab label="information">
                <div class="page_body">
                    <app-form [formData]="data" #articleForm [canSubmit]="canSubmit"></app-form>
                </div>
            </mat-tab>
            <mat-tab label="metas">
                <div class="page_body">
                    <app-meta-form [meta]="metas" [canSubmit]="canSubmit" #articleMetaForm>
                    </app-meta-form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            გაუქმება
        </button>
        <button mat-raised-button (click)="onFinish()">
            დადასტურება
        </button>
    </mat-dialog-actions>
</div>