// Global base classes with default values 



.navbar {
  padding: 0 !important;
}

.page_body {
  border-radius: 12px;
  border: 20px solid #fff;
  margin-top: -60px;
  z-index: 3;
  position: relative;
  background-color: #fff;
}



// Media 

@media (min-width: 1499px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 991px) {
  .page_body {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .page_body {
    margin-top: 0;
  }
}
