@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.otf') format('opentype'),
    url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
    url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
    url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wremena-Bold';
  src: url('/assets/fonts/Wremena-Bold/Wremena-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Wremena-Bold/Wremena-Bold.otf') format('opentype'),
    url('/assets/fonts/Wremena-Bold/Wremena-Bold.woff') format('woff'),
    url('/assets/fonts/Wremena-Bold/Wremena-Bold.ttf') format('truetype'),
    url('/assets/fonts/Wremena-Bold/Wremena-Bold.svg#Wremena-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wremena-Light';
  src: url('/assets/fonts/Wremena-Light/Wremena-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Wremena-Light/Wremena-Light.otf') format('opentype'),
    url('/assets/fonts/Wremena-Light/Wremena-Light.woff') format('woff'),
    url('/assets/fonts/Wremena-Light/Wremena-Light.ttf') format('truetype'),
    url('/assets/fonts/Wremena-Light/Wremena-Light.svg#Wremena-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wremena';
  src: url('/assets/fonts/Wremena/Wremena.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Wremena/Wremena.otf') format('opentype'),
    url('/assets/fonts/Wremena/Wremena.woff') format('woff'),
    url('/assets/fonts/Wremena/Wremena.ttf') format('truetype'),
    url('/assets/fonts/Wremena/Wremena.svg#Wremena') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Geo Fonts

@font-face {
  font-family: 'BPGArial2010';
  src: url('/assets/fonts/BPGArial2010/BPGArial2010.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/BPGArial2010/BPGArial2010.woff') format('woff'),
    url('/assets/fonts/BPGArial2010/BPGArial2010.ttf') format('truetype'),
    url('/assets/fonts/BPGArial2010/BPGArial2010.svg#BPGArial2010') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPGExcelsiorBlackCaps';
  src: url('/assets/fonts/BPGExcelsiorBlackCaps/BPGExcelsiorBlackCaps.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/BPGExcelsiorBlackCaps/BPGExcelsiorBlackCaps.woff') format('woff'),
    url('/assets/fonts/BPGExcelsiorBlackCaps/BPGExcelsiorBlackCaps.ttf') format('truetype'),
    url('/assets/fonts/BPGExcelsiorBlackCaps/BPGExcelsiorBlackCaps.svg#BPGExcelsiorBlackCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
