// *** Hide numbers in number input ***

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// *** for ios mobile ***

input[type=text],
input[type=password],
input[type=email],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.hide {
  display: none !important;
}

.with_100 {
  width: 100% !important;
}

.arrow_down {
  background: url('/assets/images/arrow_down.png') no-repeat center / 100%;
  width: 12px;
  height: 12px;
}

.invert {
  filter: invert(100%);
}




.room_page_wrapper,
.article_page_wrapper {
  .title_holder {
    .title_3 {
      margin-left: 80px;
      max-width: 60%;
    }
  }
}

//Media

@media (max-width: 768px) {

  .room_page_wrapper,
  .article_page_wrapper {
    .title_holder {
      .title_3 {
        margin-left: 50px;
        max-width: 50%;
      }
    }
  }
}


@media (max-width: 575px) {

  .room_page_wrapper,
  .article_page_wrapper {
    .title_holder {
      .title_3 {
        margin-left: 60px;
        max-width: 50%;
      }
    }
  }

  .price {
    position: relative !important;
    margin-top: 10px;
    top: auto !important;
    left: auto !important;
    padding: 12px 16px !important;
    font-size: 16px;
  }

  .slider_nav {
    position: absolute;
    right: 0;
    margin-top: -50px;
    z-index: 2;
  }

  .apartment {
    padding: 15px 20px !important;
    line-height: 1.2;
  }
}
