.title_1 {
  font-size: 60px;
  color: $blue;
  font-family: $wre-B;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.title_2 {
  font-size: 26px;
  color: $blue;
  font-family: $wre-B;
  margin: 0 0 20px;
  letter-spacing: 1px;
}

.title_3 {
  color: #fff;
  font-size: 36px;
  font-family: $wre-B;
  line-height: 1.2;
  margin: 0;
  display: inline-block;
  letter-spacing: 2px;
}

.title_4 {
  font-size: 24px;
  color: $blue;
  font-family: $wre-B;
  line-height: 1.2;
  margin: 0;
  display: inline-block;
  letter-spacing: 1px;
}

.title_5 {
  font-size: 24px;
  color: $blue;
  font-family: $wre;
  line-height: 1.2;
  margin: 0;
  display: inline-block;
  letter-spacing: 1px;
}

.gray_text_1 {
  font-family: $proxima;
  font-size: 18px;
  color: $intro_gray;
  padding: 10px 0;
  line-height: 1.4;
  letter-spacing: 1px;
}

.gray_text_2 {
  font-family: $proxima;
  font-size: 14px;
  color: $middle_gray;
  line-height: 1.2;
}

.gray_text_3 {
  font-family: $proxima;
  font-size: 14px;
  color: $middle_gray;
  line-height: 1.4;
}



// Media
@media (max-width: 1199px) {
  .title_1 {
    font-size: 48px;
  }

  .gray_text_1 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .title_3 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .title_1 {
    font-size: 38px;
  }

  .title_3 {
    font-size: 24px;
  }

  .title_2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .title_1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .gray_text_1 {
    font-size: 16px;
  }

  .title_4 {
    font-size: 20px;
  }

  .title_5 {
    font-size: 20px;
  }
}
