@import '../../../../scss/abstracts/variables';

.popup_container {
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: flex;
  width: auto;
  height: 82vh;
}

.close_popup {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
  background: url('/assets/images/close_icon.png') no-repeat center / 100%;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  transition: $transition;

  &:hover {
    opacity: 1;
  }
}

.popup_in {
  z-index: 3;
  width: 100%;
  height: 100%;
}

.popup_image {
  height: 75vh;
  overflow: hidden;
  width: 75vw;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.popup_slider_nav {
  display: inline-flex;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  justify-content: space-between;

  &:before {
    content: '';
    height: 1px;
    width: 50px;
    margin: 0 15px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40px);

  }
}


// Media
@media (max-width: 768px) {
  .popup_container {
    height: 90vh;
  }
}

@media (max-width: 575px) {

  .popup_image,
  .popup_container,
  .popup_in {
    width: 90vw;
  }

  .popup_container {
    height: 80vh;
  }

  .popup_in {
    height: 75vh;
  }

  .popup_image {
    height: 50vh;
  }

  .close_popup {
    width: 25px;
    height: 25px;
  }
}
