  <div class="popup_container">
    <div class="close_popup" (click)="closeDialog()"> </div>
    <div class="popup_in">
      <owl-carousel id="owl-carousel2" [items]="data.album.images" [options]="carouselOptions"
        [carouselClasses]="['owl-theme', 'sliding']">

        <div class="popup_image" *ngFor="let image of data.album.images">
          <img [src]="image.url | resourceUrl" alt="{{data.album.title.ge}}">
        </div>

      </owl-carousel>
      <div class="popup_slider_nav"> </div>
    </div>
  </div>
