<div class="filter_wrapper">
    <div class="input_wrapper">
        <mat-icon>search</mat-icon>
        <input class="search_input" (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </div>
</div>