<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="wellnessFormData">
    <div class="inputs_container" formGroupName="name">
        <mat-form-field>
            <input matInput formControlName="ge" placeholder="Name Ge">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="en" placeholder="Name En">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="ru" placeholder="Name Ru">
        </mat-form-field>
    </div>

    <div class="inputs_container" formArrayName="procedures">
        <div *ngFor="let item of form.get('procedures').controls; let i = index;">
            <div [formGroupName]="i">
                <h2>Procedure: {{i + 1}}</h2>
                <div class="procedure_holder">
                    <div class="inputs_container flexy" formGroupName="name">
                        <mat-form-field>
                            <input matInput formControlName="ge" placeholder="Procedure Name Ge">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="en" placeholder="Procedure Name En">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="ru" placeholder="Procedure Name Ru">
                        </mat-form-field>
                    </div>

                    <div class="inputs_container">

                        <div class="inputs_container flexy" formGroupName="price">
                            <mat-form-field>
                                <input matInput formControlName="ge" placeholder="price Ge">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="en" placeholder="price En">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="ru" placeholder="price Ru">
                            </mat-form-field>
                        </div>

                        <div class="inputs_container flexy" formGroupName="duration">
                            <mat-form-field>
                                <input matInput formControlName="ge" placeholder="duration Ge">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="en" placeholder="duration En">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="ru" placeholder="duration Ru">
                            </mat-form-field>
                        </div>

                        <!-- <mat-form-field>
                            <input matInput type="number" formControlName="price" placeholder="Procedure Price">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" formControlName="duration" placeholder="Procedure Duration">
                        </mat-form-field> -->
                    </div>

                    <button mat-raised-button color="warn" type="button" (click)="deleteForm(i)">
                        <mat-icon matTooltip="წაშლა" style="cursor: pointer"> delete
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <button mat-raised-button color="basic" type="button" (click)="addForm()">Add Procedure</button>
    </div>

    <button mat-raised-button color="primary" type="submit" *ngIf="canSubmit" [disabled]="!form.valid">
        დადასტურება
    </button>
</form>