<form [formGroup]="form">
    <div class="inputs_container flex_container" formGroupName="title">
        <div class="inputs_container">
            <app-image-upload [image]="bannersData.image" (uploadComplete)="onUploadComplete($event)">
            </app-image-upload>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="text" formControlName="ge" placeholder="Title GE">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="en" placeholder="Title EN">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="ru" placeholder="Title RU">
            </mat-form-field>
        </div>
    </div>
</form>