<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="dataLoaded">
    <div class="inputs_container">
        <app-image-upload [image]="formData.thumbnail" (uploadComplete)="onUploadComplete($event)"></app-image-upload>
    </div>

    <div class="inputs_container" formGroupName='title'>
        <mat-form-field class="example-full-width">
            <input formControlName="ge" matInput placeholder="Title Ge">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input formControlName="en" matInput placeholder="Title En">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input formControlName="ru" matInput placeholder="Title Ru">
        </mat-form-field>
    </div>
    <div class="inputs_container" formGroupName='description'>
        <mat-form-field class="example-full-width">
            <input formControlName="ge" matInput placeholder="Description Ge">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input formControlName="en" matInput placeholder="Description En">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input formControlName="ru" matInput placeholder="Description Ru">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Article Category</mat-label>
        <mat-select formControlName="articleCategory">
            <mat-option *ngFor="let category of articleCategories" [value]="category._id">
                {{ category.title.ge }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="inputs_container">
        <mat-form-field>
            <input matInput [matDatepicker]="dp" placeholder="Create Date" formControlName="createdAt">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="inputs_container" formGroupName="content">
        <div style="margin-bottom: 20px">
            <h3> Content GE </h3>
            <quill-editor formControlName="ge" #editor> </quill-editor>
        </div>
        <div style="margin-bottom: 20px">
            <h3> Content EN </h3>
            <quill-editor formControlName="en" #editor> </quill-editor>
        </div>
        <div style="margin-bottom: 20px">
            <h3> Content RU </h3>
            <quill-editor formControlName="ru" #editor> </quill-editor>
        </div>
    </div>

    <button mat-raised-button color="primary" *ngIf="canSubmit"> დადასტურება </button>
</form>