@import '../../../../scss/abstracts/variables';

.book_visit {
  background: url('/assets/images/promo_image.png') no-repeat 100% 19%;
  border-radius: 10px;
  overflow: hidden;
  filter: brightness(98%);
}

.container_in {
  width: 100%;
  height: 100%;
  padding: 65px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(#fff, 0.95);
  filter: brightness(102%);
}

.question {
  font-size: 36px;
  margin-bottom: 25px;
}

@keyframes shakeAnim {
  0% {
    margin-left: 0;
    transform: rotate(0deg);
  }

  2% {
    margin-left: -3px;
    transform: rotate(-1deg);
  }

  4% {
    margin-left: 5px;
    transform: rotate(1deg);
  }

  6% {
    margin-left: -8px;
    transform: rotate(-2deg);
  }

  8% {
    margin-left: 8px;
    transform: rotate(2deg);
  }

  10% {
    margin-left: -5px;
    transform: rotate(-1deg);
  }

  12% {
    margin-left: 3px;
    transform: rotate(1deg);
  }

  14% {
    margin-left: 0;
    transform: rotate(0deg);
  }

  100% {
    margin-left: 0;
    transform: rotate(0deg);
  }
}

.call_now_btn {
  font-size: 27px;
  color: #fff;
  font-family: $btn_font;
  text-align: center;
  padding: 25px 75px;
  background-color: $blue;
  cursor: pointer;

  &:hover {
    animation: shakeAnim 1.6s infinite;
  }
}


// Media
@media (max-width: 1199px) {
  .container_in {
    padding: 45px 40px;
  }

  .call_now_btn {
    padding: 20px 65px;
  }
}


@media (max-width: 991px) {
  .book_visit {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 768px) {
  .question {
    font-size: 24px;
  }

  .call_now_btn {
    padding: 15px 45px;
    font-size: 22px;
  }
}

@media (max-width: 575px) {
  .call_now_btn {
    padding: 12px 40px;
    font-size: 20px;
  }

  .question {
    font-size: 20px;
  }

  .container_in {
    padding: 30px 20px;
  }
}
