 <div class="book_visit">
   <div class="container_in" *ngIf="common">
     <div class="title_2 question"> {{'T' | translate : contactText}} </div>
     <a *ngIf="phoneNumber" href="{{'tel:' + phoneNumber}}">
       <div class="call_now_btn">  {{ 'T' | translate : common.staticTexts.global.callNow }} </div>
     </a>
   </div>
 </div>
