<div class="meta_page page_wrapper">
  <mat-tab-group style="width: 100%" *ngIf="data">
    <mat-tab label="Texts">
      <div class="page_body">
        <form class="material-form" [formGroup]="textsForm" (ngSubmit)="submitForm()">
          <div formGroupName="header">
            <h2> Header </h2>
            <div class="inputs_container" formGroupName="about">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="About Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="About En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="About Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="wellness">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Wellness Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Wellness En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Wellness Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="rooms">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Rooms Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Rooms En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Rooms Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="news">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="News Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="News En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="News Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="gallery">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Gallery Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Gallery En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Gallery Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="contact">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Contact Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Contact En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Contact Ru">
              </mat-form-field>
            </div>
          </div>

          <div formGroupName="room">
            <h2> Booking Form </h2>
            <div class="inputs_container" formGroupName="startsFrom_prefix">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Starts From prefix Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Starts From prefix En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Starts From prefix Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="startsFrom_suffix">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Starts From suffix Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Starts From suffix En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Starts From suffix Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="night">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Night Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Night En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Night Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="description">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Description Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Description En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Description Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="bookNow">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Book Now Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Book Now En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Book Now Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="from">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="From Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="From En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="From Ru">
              </mat-form-field>
            </div>

            <div class="inputs_container" formGroupName="emailField">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Email Field Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Email Field En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Email Field Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="phoneField">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Phone Field Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Phone Field En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Phone Field Ru">
              </mat-form-field>
            </div>
            
            <div class="inputs_container" formGroupName="bookingMessage">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Booking Message Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Booking Message En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Booking Message Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="breakfast">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="breakfast Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="breakfast En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="breakfast Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="doubleMeal">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="doubleMeal Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="doubleMeal En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="doubleMeal Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="tripleMeal">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="tripleMeal Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="tripleMeal En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="tripleMeal Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="bookingButton">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="bookingButton Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="bookingButton En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="bookingButton Ru">
              </mat-form-field>
            </div>
          </div>

          <div formGroupName="filters">
            <h2> Filters </h2>
            <div class="inputs_container" formGroupName="moreFilters">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="More Filters Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="More Filters En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="More Filters Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="priceRange">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Price Range Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Price Range En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Price Range Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="stars">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Stars Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Stars En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Stars Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="roomTypes">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Room Types Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Room Types En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Room Types Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="search">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Search Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Search En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Search Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="clear">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Clear Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Clear En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Clear Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="resultsNotFound">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Results Not Found Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Results Not Found En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Results Not Found Ru">
              </mat-form-field>
            </div>

          </div>

          <div formGroupName="global">
            <h2> Global </h2>
            <div class="inputs_container" formGroupName="startDate">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Start Date Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Start Date En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Start Date Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="endDate">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="End Date Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="End Date En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="End Date Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="adults">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Adults Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Adults En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Adults Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="children">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Children Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Children En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Children Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="infants">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Infants Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Infants En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Infants Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="search">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Search Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Search En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Search Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="photos">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Photos Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Photos En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Photos Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="mail">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Mail Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Mail En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Mail Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="phone">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Phone Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Phone En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Phone Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="address">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Address Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Address En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Address Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="social">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Social Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Social En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Social Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="name">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Name Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Name En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Name Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="message">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Message Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Message En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Message Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="send">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Send Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Send En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Send Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="category">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Category Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Category En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Category Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="startBooking">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Start Booking Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Start Booking En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Start Booking Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="bookVisit">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Book Visit Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Book Visit En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Book Visit Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="callNow">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Call Now Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Call Now En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Call Now Ru">
              </mat-form-field>
            </div>
          </div>

          <div formGroupName="successMessages">
            <h2> Success Messages </h2>
            <div class="inputs_container" formGroupName="contactMessage">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Contact Message Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Contact Message En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Contact Message Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="bookingMessage">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Booking Message Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Booking Message En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Booking Message Ru">
              </mat-form-field>
            </div>
            <div class="inputs_container" formGroupName="button">
              <mat-form-field class="example-full-width">
                <input formControlName="ge" matInput placeholder="Button Ge">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="en" matInput placeholder="Button En">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input formControlName="ru" matInput placeholder="Button Ru">
              </mat-form-field>
            </div>
          </div>
          
          <button mat-raised-button type="submit" color="primary" [disabled]="textsForm.invalid">
            დადასტურება
          </button>
        </form>
        
      </div>
    </mat-tab>
  </mat-tab-group>
</div>